/* Displayed User */
#wpadminbar .quicklinks li#wp-admin-bar-user-admin-with-avatar > a img,
#wpadminbar .quicklinks li#wp-admin-bar-group-admin-with-avatar > a img {
	width: 16px;
	height: 16px;
	display: inline;
	border: 1px solid #999;
	vertical-align: middle;
	margin: -2px -5px 0 10px;
	padding: 0;
	background: #eee;
	float: none;
}

/* Displayed Group */
#wpadminbar .quicklinks li#wp-admin-bar-group-admin-with-avatar ul {
	right: 0;
}
#wpadminbar .quicklinks li#wp-admin-bar-group-admin-with-avatar ul ul {
 	right: 0;
}

/* Notifications */
#wpadminbar .quicklinks li#wp-admin-bar-my-account a span.count,
#wpadminbar .quicklinks li#wp-admin-bar-my-account-with-avatar a span.count,
#wpadminbar .quicklinks li#wp-admin-bar-bp-notifications #ab-pending-notifications {
	background: #21759B;
	color: #fff;
	text-shadow: none;
	display: inline;
	padding: 2px 5px;
	font-size: 10px;
	font-weight: bold;
	-moz-border-radius: 10px;
	-khtml-border-radius: 10px;
	-webkit-border-radius: 10px;
	border-radius: 10px;
}

#wpadminbar .quicklinks li#wp-admin-bar-bp-notifications #ab-pending-notifications {
	background: #ddd;
	color: #333;
	margin: 0
}

#wpadminbar .quicklinks li#wp-admin-bar-bp-notifications #ab-pending-notifications.alert {
	background-color: #1fb3dd;
	color: #fff;
}

#wpadminbar .quicklinks li#wp-admin-bar-bp-notifications > a {
	padding: 0 .5em;
}

#wp-admin-bar-user-info img.avatar {
	height: 64px;
	width: 64px;
}
