/**
 * CSS that is always loaded when in wp-admin
 *
 * @since BuddyPress (1.6)
 */

/* Welcome Screen
------------------------------------------------------------------------------*/

body.dashboard_page_bp-about span.dashicons,
body.index_page_bp-about span.dashicons {
	float: left;
	clear: left;
	margin: 15px 15px 0 0 ;
	height: 90px;
	width: 90px;
	background-color: #cccccc;
	-webkit-border-radius: 50%;
	border-radius: 50%;
	border: 1px solid #c1c1c1;
	font-size: 65px;
	line-height: 90px;
	color: #999;
	text-align: center;
}

/* About Page - since 2.3.3 (WP 4.3) */

.about-wrap .two-col > div {
	position: relative;
	width: 47.6%;
	margin-right: 4.799999999%;
	float: left;
}

.about-wrap [class$=col] .last-feature {
	margin-right: 0;
}

.about-wrap .feature-list.finer-points h4, 
.about-wrap .feature-list.finer-points p {
	margin-left: 115px;
}

@media screen and ( max-width: 782px ) {
	.about-wrap .two-col > div {
		width: 100%;
		margin: 30px 0 0;
		padding: 0 0 30px;
		border-bottom: 1px solid rgba(0, 0, 0, 0.1);
	}
	body.dashboard_page_bp-about span.dashicons,
	body.index_page_bp-about span.dashicons {
		font-size: 55px;
		line-height: 70px;
		height: 70px;
		width: 70px;
	}
	.about-wrap .feature-list h2 {
	  margin: 30px 0 0;
	  text-align: center;
	}
	.about-wrap .feature-list.finer-points h4, 
	.about-wrap .feature-list.finer-points p {
		margin-left: 90px;
	}
}

/* User's Lists
------------------------------------------------------------------------------*/

body.site-users-php th#role,
body.users-php th#role,
body.users_page_bp-signups th#count_sent {
	width: 10%;
}

body.site-users-php th#name,
body.site-users-php th#email,
body.users-php th#name,
body.users-php th#registered,
body.users-php th#email,
body.users_page_bp-signups th#name,
body.users_page_bp-signups th#registered,
body.users_page_bp-signups th#email,
body.users_page_bp-signups th#date_sent {
	width: 15%;
}

body.users-php th#blogs,
body.users_page_bp-signups th#blogs {
	width: 20%;
}

body.users_page_bp-signups th.column-count_sent,
body.users_page_bp-signups td.count_sent {
	text-align: center;
}

/* Icon 32's
------------------------------------------------------------------------------*/

body.branch-3-6 div#icon-buddypress,
body.branch-3-7 div#icon-buddypress {
	background: url('../images/icons32.png') no-repeat -370px -6px;
}

body.branch-3-6 div#icon-buddypress-activity,
body.branch-3-7 div#icon-buddypress-activity {
	background: url('../images/icons32.png') no-repeat -10px -6px;
}

body.branch-3-6 div#icon-buddypress-groups,
body.branch-3-7 div#icon-buddypress-groups {
	background: url('../images/icons32.png') no-repeat -250px -6px;
}

/* Menu Icons
------------------------------------------------------------------------------*/

/* Backpat */
body.branch-3-6 ul#adminmenu li.toplevel_page_bp-components .wp-menu-image,
body.branch-3-6 ul#adminmenu li.toplevel_page_bp-general-settings .wp-menu-image,
body.branch-3-7 ul#adminmenu li.toplevel_page_bp-components .wp-menu-image,
body.branch-3-7 ul#adminmenu li.toplevel_page_bp-general-settings .wp-menu-image {
	background-image: url('../images/menu.png') !important;
	background-position: -178px -34px;
}

body.branch-3-6 ul#adminmenu li.toplevel_page_bp-components:hover .wp-menu-image,
body.branch-3-6 ul#adminmenu li.toplevel_page_bp-general-settings:hover .wp-menu-image,
body.branch-3-6 ul#adminmenu li.toplevel_page_bp-components.wp-has-current-submenu .wp-menu-image,
body.branch-3-6 ul#adminmenu li.toplevel_page_bp-general-settings.wp-has-current-submenu .wp-menu-image,
body.branch-3-7 ul#adminmenu li.toplevel_page_bp-components:hover .wp-menu-image,
body.branch-3-7 ul#adminmenu li.toplevel_page_bp-general-settings:hover .wp-menu-image,
body.branch-3-7 ul#adminmenu li.toplevel_page_bp-components.wp-has-current-submenu .wp-menu-image,
body.branch-3-7 ul#adminmenu li.toplevel_page_bp-general-settings.wp-has-current-submenu .wp-menu-image {
	background-position: -178px -2px;
}

/* Activity */
body.branch-3-6 ul#adminmenu li.toplevel_page_bp-activity .wp-menu-image,
body.branch-3-6 ul#adminmenu li.toplevel_page_bp-activity_network .wp-menu-image,
body.branch-3-7 ul#adminmenu li.toplevel_page_bp-activity .wp-menu-image,
body.branch-3-7 ul#adminmenu li.toplevel_page_bp-activity_network .wp-menu-image {
	background-image: url('../images/menu.png');
	background-position: 0 -34px;
}
body.branch-3-6 ul#adminmenu li.toplevel_page_bp-activity:hover .wp-menu-image,
body.branch-3-6 ul#adminmenu li.toplevel_page_bp-activity.current .wp-menu-image,
body.branch-3-6 ul#adminmenu li.toplevel_page_bp-activity.wp-has-current-submenu .wp-menu-image,
body.branch-3-6 ul#adminmenu li.toplevel_page_bp-activity_network:hover .wp-menu-image,
body.branch-3-6 ul#adminmenu li.toplevel_page_bp-activity_network.current .wp-menu-image,
body.branch-3-6 ul#adminmenu li.toplevel_page_bp-activity_network.wp-has-current-submenu .wp-menu-image,
body.branch-3-7 ul#adminmenu li.toplevel_page_bp-activity:hover .wp-menu-image,
body.branch-3-7 ul#adminmenu li.toplevel_page_bp-activity.current .wp-menu-image,
body.branch-3-7 ul#adminmenu li.toplevel_page_bp-activity.wp-has-current-submenu .wp-menu-image,
body.branch-3-7 ul#adminmenu li.toplevel_page_bp-activity_network:hover .wp-menu-image,
body.branch-3-7 ul#adminmenu li.toplevel_page_bp-activity_network.current .wp-menu-image,
body.branch-3-7 ul#adminmenu li.toplevel_page_bp-activity_network.wp-has-current-submenu .wp-menu-image {
	background-position: 0 -2px;
}

/* Groups */
body.branch-3-6 ul#adminmenu li.toplevel_page_bp-groups .wp-menu-image,
body.branch-3-6 ul#adminmenu li.toplevel_page_bp-groups_network .wp-menu-image,
body.branch-3-7 ul#adminmenu li.toplevel_page_bp-groups .wp-menu-image,
body.branch-3-7 ul#adminmenu li.toplevel_page_bp-groups_network .wp-menu-image {
	background-image: url('../images/menu.png');
	background-position: -61px -34px;
}
body.branch-3-6 ul#adminmenu li.toplevel_page_bp-groups:hover .wp-menu-image,
body.branch-3-6 ul#adminmenu li.toplevel_page_bp-groups.current .wp-menu-image,
body.branch-3-6 ul#adminmenu li.toplevel_page_bp-groups.wp-has-current-submenu .wp-menu-image,
body.branch-3-6 ul#adminmenu li.toplevel_page_bp-groups_network:hover .wp-menu-image,
body.branch-3-6 ul#adminmenu li.toplevel_page_bp-groups_network.current .wp-menu-image,
body.branch-3-6 ul#adminmenu li.toplevel_page_bp-groups_network.wp-has-current-submenu .wp-menu-image,
body.branch-3-7 ul#adminmenu li.toplevel_page_bp-groups:hover .wp-menu-image,
body.branch-3-7 ul#adminmenu li.toplevel_page_bp-groups.current .wp-menu-image,
body.branch-3-7 ul#adminmenu li.toplevel_page_bp-groups.wp-has-current-submenu .wp-menu-image,
body.branch-3-7 ul#adminmenu li.toplevel_page_bp-groups_network:hover .wp-menu-image,
body.branch-3-7 ul#adminmenu li.toplevel_page_bp-groups_network.current .wp-menu-image,
body.branch-3-7 ul#adminmenu li.toplevel_page_bp-groups_network.wp-has-current-submenu .wp-menu-image {
	background-position: -61px -2px;
}

/* Tools */
#adminmenu .toplevel_page_network-tools div.wp-menu-image:before {
    content: "";
}

/* Components
------------------------------------------------------------------------------*/

/* Dashicons */
#adminmenu #toplevel_page_bp-activity .wp-menu-image:before,
#adminmenu #toplevel_page_bp-activity_user .wp-menu-image:before,
#adminmenu #toplevel_page_bp-activity_network .wp-menu-image:before {
	content: "\f452";
}

#adminmenu #toplevel_page_bp-groups .wp-menu-image:before,
#adminmenu #toplevel_page_bp-groups_user .wp-menu-image:before,
#adminmenu #toplevel_page_bp-groups_network .wp-menu-image:before {
	content: "\f456";
}

#adminmenu #toplevel_page_bp-notifications .wp-menu-image:before,
#adminmenu #toplevel_page_bp-notifications_user .wp-menu-image:before,
#adminmenu #toplevel_page_bp-notifications_network .wp-menu-image:before {
	content: "\f439";
}

#adminmenu #toplevel_page_bp-messages .wp-menu-image:before,
#adminmenu #toplevel_page_bp-messages_user .wp-menu-image:before,
#adminmenu #toplevel_page_bp-messages_network .wp-menu-image:before {
	content: "\f457";
}

#adminmenu #toplevel_page_bp-friends .wp-menu-image:before,
#adminmenu #toplevel_page_bp-friends_user .wp-menu-image:before,
#adminmenu #toplevel_page_bp-friends_network .wp-menu-image:before{
	content: "\f454";
}

#adminmenu #toplevel_page_bp-settings .wp-menu-image:before,
#adminmenu #toplevel_page_bp-settings_user .wp-menu-image:before,
#adminmenu #toplevel_page_bp-settings_network .wp-menu-image:before {
	content: "\f108";
}

#adminmenu li.toplevel_page_bp-components .wp-menu-image,
#adminmenu li.toplevel_page_bp-general-settings .wp-menu-image {
	content: "\f448";
}

/* Dashicons overrides for backward compatibility */
body.branch-3-6 #adminmenu #toplevel_page_bp-activity .wp-menu-image:before,
body.branch-3-6 #adminmenu #toplevel_page_bp-activity_network .wp-menu-image:before,
body.branch-3-6 #adminmenu #toplevel_page_bp-groups .wp-menu-image:before,
body.branch-3-6 #adminmenu #toplevel_page_bp-groups_network .wp-menu-image:before,
body.branch-3-6 #adminmenu li.toplevel_page_bp-components .wp-menu-image,
body.branch-3-6 #adminmenu li.toplevel_page_bp-general-settings .wp-menu-image,
body.branch-3-7 #adminmenu #toplevel_page_bp-activity .wp-menu-image:before,
body.branch-3-7 #adminmenu #toplevel_page_bp-activity_network .wp-menu-image:before,
body.branch-3-7 #adminmenu #toplevel_page_bp-groups .wp-menu-image:before,
body.branch-3-7 #adminmenu #toplevel_page_bp-groups_network .wp-menu-image:before,
body.branch-3-7 #adminmenu li.toplevel_page_bp-components .wp-menu-image,
body.branch-3-7 #adminmenu li.toplevel_page_bp-general-settings .wp-menu-image {
	content: "";
}

/* Settings - Dashicons (WP 3.8+) */
.settings_page_bp-components td.plugin-title span {
	float: left;
	width: 18px;
	height: 18px;
	margin-right: 5px;
}

.settings_page_bp-components td.plugin-title span:before {
	font-family: 'dashicons';
	font-size: 18px;
}

.settings_page_bp-components tr.activity td.plugin-title span:before {
	content: "\f452";
}

.settings_page_bp-components tr.notifications td.plugin-title span:before {
	content: "\f339";
}

.settings_page_bp-components tr.xprofile td.plugin-title span:before {
	content: "\f336";
}

.settings_page_bp-components tr.settings td.plugin-title span:before {
	content: "\f108";
}

.settings_page_bp-components tr.groups td.plugin-title span:before {
	content: "\f456";
}

.settings_page_bp-components tr.messages td.plugin-title span:before {
	content: "\f457";
}

.settings_page_bp-components tr.forums td.plugin-title span:before {
	content: "\f452";
}

.settings_page_bp-components tr.blogs td.plugin-title span:before {
	content: "\f120";
}

.settings_page_bp-components tr.friends td.plugin-title span:before {
	content: "\f454";
}

/* Settings - Legacy (< WP 3.8) */
body.branch-3-6.settings_page_bp-components tr.activity td.plugin-title span:before,
body.branch-3-6.settings_page_bp-components tr.notifications td.plugin-title span:before,
body.branch-3-6.settings_page_bp-components tr.xprofile td.plugin-title span:before,
body.branch-3-6.settings_page_bp-components tr.settings td.plugin-title span:before,
body.branch-3-6.settings_page_bp-components tr.groups td.plugin-title span:before,
body.branch-3-6.settings_page_bp-components tr.messages td.plugin-title span:before,
body.branch-3-6.settings_page_bp-components tr.forums td.plugin-title span:before,
body.branch-3-6.settings_page_bp-components tr.blogs td.plugin-title span:before,
body.branch-3-6.settings_page_bp-components tr.friends td.plugin-title span:before,
body.branch-3-7.settings_page_bp-components tr.activity td.plugin-title span:before,
body.branch-3-7.settings_page_bp-components tr.notifications td.plugin-title span:before,
body.branch-3-7.settings_page_bp-components tr.xprofile td.plugin-title span:before,
body.branch-3-7.settings_page_bp-components tr.settings td.plugin-title span:before,
body.branch-3-7.settings_page_bp-components tr.groups td.plugin-title span:before,
body.branch-3-7.settings_page_bp-components tr.messages td.plugin-title span:before,
body.branch-3-7.settings_page_bp-components tr.forums td.plugin-title span:before,
body.branch-3-7.settings_page_bp-components tr.blogs td.plugin-title span:before,
body.branch-3-7.settings_page_bp-components tr.friends td.plugin-title span:before {
	content: "";
}

body.branch-3-6.settings_page_bp-components td.plugin-title span,
body.branch-3-7.settings_page_bp-components td.plugin-title span {
	background-image: url('../images/menu.png');
	background-position: -4px -40px;
	background-repeat: no-repeat;
}

body.branch-3-6.settings_page_bp-components tr.active td.plugin-title span,
body.branch-3-7.settings_page_bp-components tr.active td.plugin-title span {
	background-position-y: -7px;
}

body.branch-3-6.settings_page_bp-components tr.activity td.plugin-title span,
body.branch-3-7.settings_page_bp-components tr.activity td.plugin-title span {
	background-position: -4px -40px;
}

body.branch-3-6.settings_page_bp-components tr.activity.active td.plugin-title span,
body.branch-3-7.settings_page_bp-components tr.activity.active td.plugin-title span {
	background-position: -4px -7px;
}

body.branch-3-6.settings_page_bp-components tr.xprofile td.plugin-title span,
body.branch-3-7.settings_page_bp-components tr.xprofile td.plugin-title span {
	background-image: url('../images/menu-wp.png');
	background-position: -305px -40px;
}

body.branch-3-6.settings_page_bp-components tr.xprofile.active td.plugin-title span,
body.branch-3-7.settings_page_bp-components tr.xprofile.active td.plugin-title span {
	background-position: -305px -7px;
}

body.branch-3-6.settings_page_bp-components tr.settings td.plugin-title span,
body.branch-3-7.settings_page_bp-components tr.settings td.plugin-title span {
	background-image: url('../images/menu-wp.png');
	background-position: -334px -40px;
}

body.branch-3-6.settings_page_bp-components tr.settings.active td.plugin-title span,
body.branch-3-7.settings_page_bp-components tr.settings.active td.plugin-title span {
	background-position: -334px -7px;
}

body.branch-3-6.settings_page_bp-components tr.groups td.plugin-title span,
body.branch-3-7.settings_page_bp-components tr.groups td.plugin-title span {
	background-position: -66px -40px;
}

body.branch-3-6.settings_page_bp-components tr.groups.active td.plugin-title span,
body.branch-3-7.settings_page_bp-components tr.groups.active td.plugin-title span {
	background-position: -66px -7px;
}

body.branch-3-6.settings_page_bp-components tr.messages td.plugin-title span,
body.branch-3-7.settings_page_bp-components tr.messages td.plugin-title span {
	background-position: -154px -40px;
}

body.branch-3-6.settings_page_bp-components tr.messages.active td.plugin-title span,
body.branch-3-7.settings_page_bp-components tr.messages.active td.plugin-title span {
	background-position: -154px -7px;
}

body.branch-3-6.settings_page_bp-components tr.forums td.plugin-title span,
body.branch-3-7.settings_page_bp-components tr.forums td.plugin-title span {
	background-image: url('../images/menu-wp.png');
	background-position: -36px -40px;
}

body.branch-3-6.settings_page_bp-components tr.forums.active td.plugin-title span,
body.branch-3-7.settings_page_bp-components tr.forums.active td.plugin-title span {
	background-position: -36px -7px;
}

body.branch-3-6.settings_page_bp-components tr.blogs td.plugin-title span,
body.branch-3-7.settings_page_bp-components tr.blogs td.plugin-title span {
	background-position: -125px -40px;
}

body.branch-3-6.settings_page_bp-components tr.blogs.active td.plugin-title span,
body.branch-3-7.settings_page_bp-components tr.blogs.active td.plugin-title span {
	background-position: -125px -7px;
}

body.branch-3-6.settings_page_bp-components tr.friends td.plugin-title span,
body.branch-3-7.settings_page_bp-components tr.friends td.plugin-title span {
	background-position: -95px -40px;
}

body.branch-3-6.settings_page_bp-components tr.friends.active td.plugin-title span,
body.branch-3-7.settings_page_bp-components tr.friends.active td.plugin-title span {
	background-position: -95px -7px;
}

body.branch-3-6.settings_page_bp-components tr.core td.plugin-title span,
body.branch-3-7.settings_page_bp-components tr.core td.plugin-title span {
	background-position: -184px -40px;
}

body.branch-3-6.settings_page_bp-components tr.core.active td.plugin-title span,
body.branch-3-7.settings_page_bp-components tr.core.active td.plugin-title span {
	background-position: -184px -7px;
}

body.branch-3-6.settings_page_bp-components tr.members td.plugin-title span,
body.branch-3-7.settings_page_bp-components tr.members td.plugin-title span {
	background-position: -36px -40px;
}

body.branch-3-6.settings_page_bp-components tr.members.active td.plugin-title span,
body.branch-3-7.settings_page_bp-components tr.members.active td.plugin-title span {
	background-position: -36px -7px;
}

#bp-admin-component-form .widefat th {
    display: table-cell;
    vertical-align: top;
}

/* Version Badge */

.bp-badge {
	font: normal 150px/1 'dashicons' !important;
	color: #D84800;
	display: inline-block;
}

.bp-badge:before {
	content: "\f448";
}

.about-wrap .bp-badge {
	position: absolute;
	top: 0;
	right: 0;
}

/* About Page - since 2.3.3 (WP 4.3) */

@media only screen and (max-width: 500px) {
	.about-wrap .bp-badge {
		position: relative;
		margin: 10px auto;
		top: auto;
		right: auto;
	} 
}

/* HiDPI
------------------------------------------------------------------------------*/

@media only screen and (-webkit-min-device-pixel-ratio: 1.5) {

	/* Icon 32 */
	body.branch-3-6 div#icon-buddypress,
	body.branch-3-6 div#icon-buddypress-activity,
	body.branch-3-6 div#icon-buddypress-groups,
	body.branch-3-7 div#icon-buddypress,
	body.branch-3-7 div#icon-buddypress-activity,
	body.branch-3-7 div#icon-buddypress-groups {
		background-image: url('../images/icons64.png');
		background-size: 419px 45px;
	}

	/* Backpat */
	body.branch-3-6 ul#adminmenu li.toplevel_page_bp-components .wp-menu-image,
	body.branch-3-6 ul#adminmenu li.toplevel_page_bp-general-settings .wp-menu-image,
	body.branch-3-6 ul#adminmenu li.toplevel_page_bp-activity .wp-menu-image,
	body.branch-3-6 ul#adminmenu li.toplevel_page_bp-activity_network .wp-menu-image,
	body.branch-3-6 ul#adminmenu li.toplevel_page_bp-groups .wp-menu-image,
	body.branch-3-6 ul#adminmenu li.toplevel_page_bp-groups_network .wp-menu-image,
	body.branch-3-7 ul#adminmenu li.toplevel_page_bp-components .wp-menu-image,
	body.branch-3-7 ul#adminmenu li.toplevel_page_bp-general-settings .wp-menu-image,
	body.branch-3-7 ul#adminmenu li.toplevel_page_bp-activity .wp-menu-image,
	body.branch-3-7 ul#adminmenu li.toplevel_page_bp-activity_network .wp-menu-image,
	body.branch-3-7 ul#adminmenu li.toplevel_page_bp-groups .wp-menu-image,
	body.branch-3-7 ul#adminmenu li.toplevel_page_bp-groups_network .wp-menu-image {
		background-image: url('../images/menu-2x.png') !important;
		background-size: 209px 64px;
	}
}
