body.toplevel_page_bp-groups table.groups th#status,
body.toplevel_page_bp-groups table.groups th#members {
	width: 10%;
}

body.toplevel_page_bp-groups table.groups th#last_active {
	width: 15%;
}

#bp-groups-form .avatar {
	float: left;
	margin-right: 10px;
	margin-top: 1px;
}
#bp-groups-edit-form input {
	outline: medium none;
}
#bp-groups-edit-form input#bp-groups-name {
	font-size: 1.7em;
	width: 100%;
	margin-bottom: 6px;
}
#bp-groups-edit-form input#bp-groups-new-members {
	width: 100%;
	max-width: 90%;
	border: 0;
}
#bp-groups-new-members-list {
	margin: 0;
}
#bp_group_settings legend {
	margin: 10px 0;
	font-weight: bold;
}
#bp_group_settings ul {
	margin: 0;
}
.bp-groups-settings-section {
	margin-top: 10px;
}
#bp-groups-permalink-box {
	line-height: 24px;
	color: #666;
}
.bp-groups-member-type {
	position: relative;
}
.bp-groups-member-type > h4 {
	margin-bottom: .5em;
}
ul.bp-group-delete-list {
	list-style-type: disc;
	margin: 4px 26px;
}
.bp-group-admin-pagination {
	position: absolute;
	text-align: right;
	width: 100%;
}
.bp-group-admin-pagination.table-top {
	top: 0;
}
.bp-group-admin-pagination.table-bottom {
	bottom: 0;
}
.bp-group-admin-pagination-viewing {
	color: #777;
	font-size: 12px;
	font-style: italic;
}
.bp-group-admin-pagination-links {
	white-space: nowrap;
	padding-left: 15px;
}

table.bp-group-members .uid-column {
	padding-left: 20px;
	padding-right: 20px;
}
table.bp-group-members .uname-column {
	width: 70%;
}
table.bp-group-members .urole-column {
	padding-left: 20px;
	padding-right: 20px;
}
