@charset "UTF-8";
/*------------------------------------------------------------------------------

This is the BuddyPress companion stylesheet for
the WordPress Twentyfifteen theme.

This sheet supports the primary BuddyPress styles in buddypress.css

If you are running as a child theme of twentyfifteen this stylesheet will be
loaded by default. If you want to modify the styles the normal BP Theme Compat
hierarchy works and you can copy the file to buddypress/css/ or community/css/
in your child themes root & either start over or modify the rulesets.

If you do not require the styles you can dequeue them from the themes functions file.

Please see this codex article for more information:
http://codex.buddypress.org/themes/buddypress-companion-stylesheets/

--------------------------------------------------------------------------------
>>> TABLE OF CONTENTS:
--------------------------------------------------------------------------------
1.0 Theme Structural Elements & overrides
2.0 - Navigation - General
	2.1 - Navs - Object Nav / Sub Nav (item-list-tabs)
	2.2 - Pagination
3.0 - Images
4.0 - BP Lists / Loops Generic
	4.1 - Activity Loop
		4.1.1 Whats New Activity
		4.1.2 - Activity Listing
		4.1.3 - Activity Comments
	4.2 - Members Loop
	4.3 - Groups Loop
	4.4 - Blogs Loop
5.0 - Directories - Members, Groups, Blogs, Forums
6.0 - Single Item screens: User Account & Single Group Screens
	6.1 - Item Headers: Global
		6.1.1 - item-header: Groups
		6.1.2 - item-header: User Accounts
	6.2 - Item Body: Global
		6.2.1 - item-body: Groups
			6.2.1.1 - Management settings screens
			6.2.1.2 - Group members list
			6.2.1.3 - Group Send Invites
		6.2.2 - item-body: User Accounts
			6.2.2.1 - classes, pag, filters
			6.2.2.2 - Extended Profiles
			6.2.2.3 - Groups
			6.2.2.4 - friends
			6.2.2.5 - Private Messaging Threads
			6.2.2.6 - Settings
7.0 - Forms  -  General
8.0 - Tables -  General
9.0 - Error / Success Messages
10.0 - Ajax Loading, Widgets, General classes
------------------------------------------------------------------------------*/
/**
*-------------------------------------------------------------------------------
* @section 1.0 - Theme - Structural Elements & overrides
*-------------------------------------------------------------------------------
*/
#buddypress h1,
#buddypress h2,
#buddypress h3,
#buddypress h4,
#buddypress h5,
#buddypress h6 {
	clear: none;
}

.buddypress div.clear {
	display: none;
}

.buddypress main {
	padding-top: 4%;
}

@media screen and (min-width: 59.6875em) {
	.buddypress main {
		padding-top: 0;
	}
}

.buddypress main article {
	margin: 0 4%;
	padding-top: 8.3333%;
}

@media screen and (min-width: 59.6875em) {
	.buddypress main article {
		margin: 0 1px 0 0;
	}
}

@media screen and (min-width: 87.6875em) {
	.buddypress main article {
		margin: 0 8.3333% 0 4.3333%;
	}
}

.buddypress main article .entry-header,
.buddypress main article .entry-content {
	padding: 0 3rem 3rem 3rem;
}

.buddypress main article #buddypress {
	margin-bottom: 40px;
}

.buddypress .site-footer {
	margin: 0 4%;
}

@media screen and (min-width: 59.6875em) {
	.buddypress .site-footer {
		margin: 0 35.2941% 0 0;
		width: 61.8235%;
	}
}

/**
*-------------------------------------------------------------------------------
* @section 2.0 - Navigation - General
*-------------------------------------------------------------------------------
*/
.buddypress #buddypress .item-list-tabs a,
.buddypress #buddypress .activity-header a,
.buddypress #buddypress .activity-inner a,
.buddypress #buddypress .activity-comments a,
.buddypress #buddypress .item-title a,
.buddypress #buddypress .load-more a,
.buddypress #buddypress .field-visibility-settings-toggle a,
.buddypress #buddypress #latest-update a,
.buddypress #buddypress table a,
.buddypress #buddypress .avatar-nav-items a {
	border-bottom: 0;
}

.buddypress #buddypress .pagination-links a,
.buddypress #buddypress .pagination-links span {
	border-bottom: 0;
}

/**
*----------------------------------------------------------
* @section 2.1 - Navs Object Nav / Sub Nav (item-list-tabs)
*
* The main navigational elements for all BP screens
*----------------------------------------------------------
*/
#buddypress {
	/*__ Horizontal menus __*/
}

#buddypress div.item-list-tabs ul li.selected a {
	background: #555;
	color: #fff;
	opacity: 1;
}

#buddypress div.item-list-tabs ul {
	background-color: #f7f7f7;
	border-bottom: 1px solid rgba(234, 234, 234, 0.9);
	border-top: 1px solid rgba(234, 234, 234, 0.9);
	overflow: hidden;
	padding: 5px 0;
}

#buddypress div.item-list-tabs ul li a span {
	border-radius: 25%;
}

#buddypress #object-nav ul {
	overflow: hidden;
}

#buddypress #object-nav ul li {
	float: none;
}

#buddypress #object-nav ul li:not(.selected) a {
	opacity: 0.7;
}

@media screen and (min-width: 38.75em) {
	#buddypress #object-nav ul li {
		float: right;
	}
}

#buddypress div#subnav.item-list-tabs {
	margin-top: 0;
}

#buddypress div#subnav.item-list-tabs ul {
	background-color: #f7f7f7;
	border-bottom: 0;
	padding: 0;
}

#buddypress div#subnav.item-list-tabs ul li.last {
	background: #fff;
	margin-top: 0;
	padding: 5px 0 5px 5px;
	width: 100%;
}

#buddypress div#subnav.item-list-tabs ul li.last select,
#buddypress div#subnav.item-list-tabs ul li.last select:focus {
	background: transparent;
	border: 0;
	outline: 0;
}

#buddypress div#subnav.item-list-tabs ul li.last select,
#buddypress div#subnav.item-list-tabs ul li.last label,
#buddypress div#subnav.item-list-tabs ul li.last option {
	font-size: 14px;
	font-size: 1.4rem;
}

#buddypress div#subnav.item-list-tabs ul li.last select {
	font-style: italic;
}

@media screen and (min-width: 38.75em) {
	#buddypress div#subnav.item-list-tabs ul li.last {
		text-align: left;
	}
}

#buddypress div.item-list-tabs ul li.selected a,
#buddypress div.item-list-tabs ul li.current a {
	background: #555;
	color: #fff;
	opacity: 1;
}

/*__ Vertical menu User Account / Group single screens __*/
@media screen and (min-width: 55em) {
	.bp-user #buddypress,
	.single-item.groups #buddypress {
		background: #f7f7f7;
	}
	#buddypress #item-header,
	#buddypress #item-body {
		background: #fff;
	}
	#buddypress #object-nav {
		border-left: 1px solid #ddd;
		float: right;
		margin-left: -1px;
		width: 200px;
	}
	#buddypress #object-nav ul {
		border-bottom: 0;
		padding: 0;
	}
	#buddypress #object-nav ul li {
		float: none;
		overflow: hidden;
	}
	#buddypress #object-nav ul li span {
		background: #fff;
		border-radius: 10%;
		float: left;
		margin-left: 2px;
	}
	#buddypress #item-body {
		border-right: 1px solid #ddd;
		overflow: hidden;
		padding: 0 20px 0 0;
		width: auto;
	}
	#buddypress #item-body #subnav {
		margin: 0 -20px 0 0;
	}
}

/**
*----------------------------------------------------------
* @section 2.2 - Pagination
*----------------------------------------------------------
*/
#buddypress div.pagination {
	box-shadow: none;
}

#buddypress div.pagination .pag-count {
	margin-right: 0;
}

#buddypress div.pagination .pagination-links {
	margin-left: 0;
}

#buddypress div.pagination .pagination-links span,
#buddypress div.pagination .pagination-links a {
	height: auto;
	line-height: 1;
	padding: 5px;
}

#buddypress div.pagination .pagination-links .prev,
#buddypress div.pagination .pagination-links .next {
	background-color: transparent;
	color: inherit;
	overflow: visible;
	width: auto;
}

#buddypress div.pagination .pagination-links .prev:before,
#buddypress div.pagination .pagination-links .next:before {
	display: none;
}

#buddypress div.pagination .pagination-links .prev {
	right: auto;
	position: static;
}

#buddypress div.pagination .pagination-links .next {
	position: static;
	left: auto;
}

/**
*-------------------------------------------------------------------------------
* @section 4.0 - BP Lists / Loops Generic
*-------------------------------------------------------------------------------
*/
#buddypress .item-list .activity-header,
#buddypress .item-list .activity-meta {
	font-family: "Noto Sans", sans-serif;
}

#buddypress ul.item-list li {
	overflow: hidden !important;
}

#buddypress ul.item-list li .item-avatar {
	margin-bottom: 10px;
	text-align: center;
}

@media screen and (min-width: 38.75em) {
	#buddypress ul.item-list li .item-avatar {
		margin-bottom: 0;
	}
}

#buddypress ul.item-list li .item-avatar a {
	border-bottom: 0;
}

#buddypress ul.item-list li .item-avatar img.avatar {
	display: inline-block;
	float: none;
}

@media screen and (min-width: 38.75em) {
	#buddypress ul.item-list li .item-avatar img.avatar {
		display: block;
		float: right;
	}
}

#buddypress ul.item-list li .item {
	margin-right: 25%;
}

#buddypress ul.item-list li .item span.activity {
	font-style: italic;
}

#buddypress ul.item-list li .item .item-desc {
	margin-right: 0;
	width: 70%;
}

@media screen and (min-width: 59.6875em) {
	#buddypress ul.item-list li .item-avatar,
	#buddypress ul.item-list li .item,
	#buddypress ul.item-list li .action {
		float: right;
	}
	#buddypress ul.item-list li .item {
		right: 10%;
		margin-right: 0;
		position: relative;
		width: 55%;
	}
}

#buddypress ul.item-list li div.action {
	clear: right;
	float: none;
	margin-bottom: -20px;
	margin-right: 0;
	padding: 20px 0 5px;
	position: relative;
	text-align: right;
	top: 0;
}

@media screen and (min-width: 59.6875em) {
	#buddypress ul.item-list li div.action {
		clear: none;
		float: left;
		margin-bottom: 0;
		padding: 0;
	}
}

#buddypress ul.item-list li div.action div {
	display: inline-block;
	margin: 10px 0;
	width: 100%;
}

#buddypress ul.item-list li div.action div a {
	display: block;
	width: 100%;
}

@media screen and (min-width: 38.75em) {
	#buddypress ul.item-list li div.action div {
		margin: 0 0 10px 10px;
		width: auto;
	}
}

@media screen and (min-width: 59.6875em) {
	#buddypress ul.item-list li div.action div {
		clear: left;
		float: left;
		margin: 0 0 10px 0;
	}
}

#buddypress ul.item-list li div.action .meta {
	font-style: italic;
}

/**
*----------------------------------------------------------
* @section 4.1 - Activity
*----------------------------------------------------------
*/
/**
*-----------------------------------------------------
* @section 4.1.1 - Activity Whats New
*-----------------------------------------------------
*/
#buddypress form#whats-new-form p.activity-greeting {
	line-height: 1.4;
}

#buddypress form#whats-new-form textarea {
	width: 100%;
}

@media screen and (max-width: 30em) {
	#buddypress form#whats-new-form #whats-new-post-in-box select {
		font-size: 14px;
		font-size: 1.4rem;
		max-width: 120px;
	}
}

@media screen and (max-width: 38.75em) {
	#buddypress form#whats-new-form #whats-new-content {
		clear: right;
		margin: 10px 0 40px;
		padding: 10px 0 0;
	}
	#buddypress form#whats-new-form #whats-new-content #whats-new-submit {
		float: none;
	}
	#buddypress form#whats-new-form #whats-new-content #whats-new-submit input {
		width: 100%;
	}
	#buddypress form#whats-new-form #whats-new-options {
		display: flex;
		flex-direction: column;
	}
	#buddypress form#whats-new-form #whats-new-options #whats-new-submit {
		order: 2;
	}
	#buddypress form#whats-new-form #whats-new-options #whats-new-post-in-box {
		order: 1;
	}
}

#buddypress form#whats-new-form #whats-new-options[style] {
	min-height: 6rem;
	overflow: visible;
}

#buddypress form#whats-new-form #whats-new-options[style] #whats-new-post-in-box {
	border: 1px solid rgba(153, 153, 153, 0.5);
	float: right;
	line-height: 1.5em;
	margin-top: 12px;
	padding-right: 0.2em;
	width: 100%;
}

#buddypress form#whats-new-form #whats-new-options[style] #whats-new-post-in-box select {
	background: none;
	border: 0;
	float: left;
	margin: 0;
	min-height: 1.5em;
	outline: 0;
	padding-right: 0.4em;
}

@media screen and (min-width: 30em) {
	#buddypress form#whats-new-form #whats-new-options[style] #whats-new-post-in-box {
		width: auto;
	}
	#buddypress form#whats-new-form #whats-new-options[style] #whats-new-submit {
		float: left;
	}
}

#buddypress #item-body form#whats-new-form {
	margin: 40px 0;
}

/**
*-----------------------------------------------------
* @section 4.1.2 - Activity Listing
*-----------------------------------------------------
*/
#buddypress #activity-stream li {
	padding: 25px 0 15px;
}

#buddypress #activity-stream li .activity-avatar {
	float: none;
	text-align: center;
}

#buddypress #activity-stream li .activity-avatar a {
	display: inline-block;
}

#buddypress #activity-stream li .activity-avatar a img.avatar {
	display: inline;
	float: none;
	height: 60px;
	margin-bottom: 20px;
	margin-right: 0;
	width: 60px;
}

#buddypress #activity-stream li .activity-content {
	margin-right: 0;
}

#buddypress #activity-stream li .activity-content .activity-header {
	font-size: 14px;
	font-size: 1.4rem;
}

@media screen and (min-width: 46.25em) {
	#buddypress #activity-stream li .activity-avatar {
		float: right;
		margin-left: 10px;
		text-align: right;
	}
	#buddypress #activity-stream li .activity-avatar a {
		border-bottom: 0;
	}
	#buddypress #activity-stream li .activity-content {
		margin: 0;
		overflow: hidden;
	}
	#buddypress #activity-stream li .activity-content .activity-header {
		font-size: 16px;
		font-size: 1.6rem;
	}
}

#buddypress #activity-stream li.mini .activity-avatar a img.avatar {
	height: 30px;
	margin-right: 15px;
	width: 30px;
}

#buddypress #activity-stream li.mini .activity-content .activity-header {
	font-size: 13px;
	font-size: 1.3rem;
}

#buddypress #activity-stream .activity-content {
	margin-top: -12px;
}

#buddypress #activity-stream .activity-content .activity-header {
	line-height: inherit;
	margin-left: 0;
}

#buddypress #activity-stream .activity-content .activity-header p {
	background-color: #f7f7f7;
	border: 1px solid rgba(234, 234, 234, 0.6);
	padding: 0 0.2em;
}

#buddypress #activity-stream .activity-content .activity-header img.avatar {
	display: inline-block;
	margin-bottom: 0 !important;
}

#buddypress #activity-stream .activity-content .activity-meta a {
	display: block;
	margin: 0 0 5px;
}

@media screen and (min-width: 38.75em) {
	#buddypress #activity-stream .activity-content .activity-meta a {
		display: inline-block;
		margin: 0;
	}
}

#buddypress #activity-stream .load-more {
	background: #f7f7f7;
	border: 1px solid transparent;
	padding: 10px;
}

#buddypress #activity-stream .load-more:focus,
#buddypress #activity-stream .load-more:hover {
	background: #f4f4f4;
	border: 1px solid rgba(159, 209, 226, 0.3);
}

#buddypress #activity-stream .load-more:focus a,
#buddypress #activity-stream .load-more:hover a {
	font-style: italic;
}

#buddypress #activity-stream .load-more a {
	display: block;
}

/* Single activity view  - activity permalink */
.activity-permalink #buddypress {
	background: none;
}

.activity-permalink #buddypress #activity-stream li.activity-item {
	padding: 20px 0;
}

.activity-permalink #buddypress #activity-stream li.mini .activity-header {
	font-size: 16px;
	font-size: 1.6rem;
	margin-bottom: 40px;
}

@media screen and (min-width: 46.25em) {
	.activity-permalink #buddypress #activity-stream li.mini .activity-header {
		font-size: 20px;
		font-size: 2rem;
	}
}

.activity-permalink #buddypress #activity-stream li.mini .activity-header p {
	padding: 20px;
}

/**
*-----------------------------------------------------
* @section 4.1.3 - Activity Comments
*-----------------------------------------------------
*/
#buddypress #activity-stream .activity-comments {
	margin: 10px 0 0;
}

#buddypress #activity-stream .activity-comments.has-comments {
	border-right: 1px solid #eaeaea;
}

#buddypress #activity-stream .activity-comments .ac-form {
	padding: 20px 0 0;
}

#buddypress #activity-stream .activity-comments > ul {
	background: rgba(247, 247, 247, 0.6);
	margin: 15px 2px 0 0;
}

@media screen and (min-width: 38.75em) {
	#buddypress #activity-stream .activity-comments > ul {
		margin-right: 70px;
	}
}

#buddypress #activity-stream .activity-comments > ul ul {
	margin-right: 1%;
	padding-right: 0;
}

@media screen and (min-width: 30em) {
	#buddypress #activity-stream .activity-comments > ul ul {
		margin-right: 1%;
		padding-right: 1em;
	}
}

#buddypress #activity-stream .activity-comments > ul ul li {
	border-right: 1px solid #eaeaea;
	border-top: 0;
	padding-right: 0.2em;
}

#buddypress #activity-stream .activity-comments > ul .acomment-meta {
	border-bottom: 1px solid #eaeaea;
	font-style: italic;
}

@media screen and (max-width: 38.75em) {
	#buddypress #activity-stream .activity-comments > ul .acomment-avatar {
		display: block;
		text-align: center;
	}
	#buddypress #activity-stream .activity-comments > ul .acomment-avatar a,
	#buddypress #activity-stream .activity-comments > ul .acomment-avatar img.avatar {
		display: inline;
		float: none;
	}
	#buddypress #activity-stream .activity-comments > ul .acomment-content,
	#buddypress #activity-stream .activity-comments > ul .acomment-meta,
	#buddypress #activity-stream .activity-comments > ul .acomment-options {
		margin: 5px;
	}
	#buddypress #activity-stream .activity-comments > ul .acomment-content {
		padding: 0 10px;
	}
}

#buddypress #activity-stream .activity-comments .ac-reply-avatar {
	display: none;
}

#buddypress #activity-stream .activity-comments .ac-reply-content {
	margin-right: 0;
	padding-right: 0;
}

@media screen and (min-width: 38.75em) {
	#buddypress #activity-stream .activity-comments .ac-reply-avatar {
		display: block;
	}
	#buddypress #activity-stream .activity-comments .ac-reply-content {
		overflow: hidden;
	}
}

#buddypress #activity-stream .activity-comments .ac-form input[type="submit"],
#buddypress #activity-stream .activity-comments .ac-form .ac-reply-cancel {
	color: rgba(51, 51, 51, 0.8);
	display: inline-block;
	font-family: inherit;
	font-size: 12px;
	font-size: 1.2rem;
	font-weight: normal;
	line-height: 1.2;
	padding: 4px 10px;
	text-transform: lowercase;
	width: 100px;
}

#buddypress #activity-stream .activity-comments .ac-form .ac-reply-cancel {
	border: 1px solid rgba(153, 153, 153, 0.7);
	text-align: center;
}

#buddypress #activity-stream .activity-comments .ac-form .ac-reply-cancel:focus,
#buddypress #activity-stream .activity-comments .ac-form .ac-reply-cancel:hover {
	background: #ededed;
}

/**
*----------------------------------------------------------
* @section 4.2 - Members Loop
*----------------------------------------------------------
*/
@media screen and (min-width: 59.6875em) {
	#buddypress #members-list li .item-avatar,
	#buddypress #members-list li .item {
		float: right;
	}
	#buddypress #members-list li .action {
		float: left;
	}
}

/**
*-------------------------------------------------------------------------------
* @section 6.0 - Single Item screens: User Account & Single Group Screens
*-------------------------------------------------------------------------------
*/
/**
*-----------------------------------------------------------
* @subsection 6.1 - Item Header Global
*-----------------------------------------------------------
*/
@media screen and (max-width: 46.25em) {
	.bp-user main header.entry-header,
	.single-item.groups main header.entry-header {
		padding-bottom: 1rem;
	}
}

@media screen and (max-width: 38.75em) {
	.bp-user h1,
	.bp-user #item-header-content,
	.single-item.groups h1,
	.single-item.groups #item-header-content {
		text-align: center;
	}
}

@media screen and (max-width: 46.25em) {
	.bp-user #buddypress #item-header .generic-button,
	.single-item.groups #buddypress #item-header .generic-button {
		float: none;
		margin: 1.5em 0 0 0;
	}
}

@media screen and (max-width: 38.75em) {
	.bp-user #buddypress h1,
	.single-item.groups #buddypress h1 {
		margin-bottom: 0;
	}
	.bp-user #buddypress #item-header-avatar img.avatar,
	.single-item.groups #buddypress #item-header-avatar img.avatar {
		margin-left: 0;
	}
	.bp-user #buddypress #item-header-content,
	.single-item.groups #buddypress #item-header-content {
		width: 100%;
	}
}

/**
*-----------------------------------------------------
* @subsection 6.1.1 - item-header Groups
*
* Group Specific Item Header
*-----------------------------------------------------
*/
@media screen and (max-width: 46.25em) {
	.single-item.groups #buddypress #item-header #item-meta {
		margin-bottom: 20px;
	}
}

@media screen and (max-width: 38.75em) {
	.single-item.groups #buddypress div#item-header {
		display: flex;
		flex-direction: column;
	}
	.single-item.groups #buddypress div#item-header #item-header-avatar {
		order: 1;
		text-align: center;
	}
	.single-item.groups #buddypress div#item-header #item-header-avatar a {
		border-bottom: 0;
	}
	.single-item.groups #buddypress div#item-header #item-header-avatar a img {
		display: inline-block;
		float: none;
	}
	.single-item.groups #buddypress div#item-header #item-header-content {
		order: 2;
	}
	.single-item.groups #buddypress div#item-header #item-actions {
		order: 3;
	}
}

.single-item.groups #buddypress div#item-header {
	padding-bottom: 40px;
}

.single-item.groups #buddypress div#item-header div#item-actions {
	margin: 0;
	width: 100%;
}

@media screen and (min-width: 38.75em) {
	.single-item.groups #buddypress div#item-header div#item-actions {
		clear: none;
		float: left;
		width: 50%;
	}
}

.single-item.groups #buddypress div#item-header div#item-actions h3 {
	background: #555;
	color: #fff;
	font-size: 14px;
	font-size: 1.4rem;
	padding: 0.2em;
}

@media screen and (min-width: 46.25em) {
	.single-item.groups #buddypress div#item-header div#item-actions h3 {
		font-size: 16px;
		font-size: 1.6rem;
	}
}

@media screen and (min-width: 46.25em) {
	.single-item.groups #buddypress div#item-header #item-header-avatar,
	.single-item.groups #buddypress div#item-header #item-header-content {
		float: right;
	}
	.single-item.groups #buddypress div#item-header #item-header-avatar {
		width: 21%;
	}
	.single-item.groups #buddypress div#item-header #item-header-content {
		margin-right: 4%;
		width: 40%;
	}
	.single-item.groups #buddypress div#item-header div#item-actions {
		float: left;
		width: 28%;
	}
}

/**
*-----------------------------------------------------
* @subsection 6.1.2 - Item Header User Accounts
*
* User Accounts Specific Item Header
*-----------------------------------------------------
*/
.bp-user #buddypress #item-header {
	padding: 20px 0;
}

.bp-user #buddypress #item-header #item-header-avatar {
	text-align: center;
	width: 100%;
}

.bp-user #buddypress #item-header #item-header-avatar img.avatar,
.bp-user #buddypress #item-header #item-header-avatar a {
	border-bottom: 0;
	display: inline-block;
	float: none;
}

@media screen and (min-width: 46.25em) {
	.bp-user #buddypress #item-header #item-header-avatar {
		float: right;
		width: 20%;
	}
	.bp-user #buddypress #item-header #item-header-avatar img.avatar,
	.bp-user #buddypress #item-header #item-header-avatar a {
		float: right;
		width: 100%;
	}
	.bp-user #buddypress #item-header #item-header-content {
		float: left;
		margin-left: 5%;
		width: 69%;
	}
}

/**
*-----------------------------------------------------------
* @subsection 6.2 - Item Body: Global
*-----------------------------------------------------------
*/
#item-body h1,
#item-body h2,
#item-body h3,
#item-body h4,
#item-body h5,
#item-body h6 {
	margin: 1em 0;
}

#item-body h1 a,
#item-body h2 a,
#item-body h3 a,
#item-body h4 a,
#item-body h5 a,
#item-body h6 a {
	border-bottom: 0;
}

/**
*----------------------------------------------------
* @subsection 6.2.1 - Item Body Groups
*
* Groups specific item body rules -  screens
*----------------------------------------------------
*/
/**
*-----------------------------------------
* @subsection 6.2.1.1 - Group Management
*-----------------------------------------
*/
.groups #group-settings-form h4 {
	background: #555;
	color: #fff;
	padding: 0.2em;
}

.groups #group-settings-form #request-list h4 {
	background: none;
	color: inherit;
}

.groups.edit-details #group-settings-form label {
	background: #555;
	-webkit-border-top-left-radius: 4px;
	border-top-left-radius: 4px;
	-webkit-border-top-right-radius: 4px;
	border-top-right-radius: 4px;
	background-clip: padding-box;
	color: #fff;
	display: inline-block;
	margin-bottom: 0;
	padding: 0.2em;
	width: 80%;
}

@media screen and (min-width: 38.75em) {
	.groups.edit-details #group-settings-form label {
		width: 60%;
	}
}

.groups.edit-details #group-settings-form textarea + p label {
	background: none;
	color: inherit;
	font-size: 14px;
	font-size: 1.4rem;
	width: auto;
}

.groups.group-settings #group-settings-form div.radio label,
.groups.group-settings #create-group-form div.radio label {
	border: 1px solid #eaeaea;
	padding: 0.2em;
}

.groups.group-settings #group-settings-form div.radio ul,
.groups.group-settings #create-group-form div.radio ul {
	color: rgba(51, 51, 51, 0.6);
	font-size: 14px;
	font-size: 1.4rem;
}

.groups.group-avatar form > p {
	margin-top: 20px;
}

.groups.manage-members #group-settings-form .item-list li {
	border-bottom: 1px solid #eaeaea;
}

.groups.manage-members #group-settings-form .item-list li img,
.groups.manage-members #group-settings-form .item-list li h5 {
	float: right;
}

.groups.manage-members #group-settings-form .item-list li img > a,
.groups.manage-members #group-settings-form .item-list li h5 > a {
	border-bottom: 0;
}

.groups.manage-members #group-settings-form .item-list li span.small {
	clear: right;
	display: block;
	float: none;
	margin-top: 10px;
}

.groups.manage-members #group-settings-form .item-list li span.small a {
	display: inline-block;
	margin: 5px 0;
	width: 100%;
}

@media screen and (min-width: 38.75em) {
	.groups.manage-members #group-settings-form .item-list li span.small a {
		width: auto;
	}
}

.groups.manage-members #group-settings-form .item-list li h5 {
	margin: 0;
}

/**
*-----------------------------------------
* @subsection 6.2.1.2 - Group members
*-----------------------------------------
*/
/* Members loop */
@media screen and (max-width: 30em) {
	.groups.group-members #buddypress #members-group-list li > a {
		border-bottom: 0;
		display: block;
		margin-bottom: 10px;
		text-align: center;
	}
	.groups.group-members #buddypress #members-group-list li > a img.avatar {
		display: inline;
		float: none;
	}
}

.groups.group-members #buddypress #members-group-list li h5 {
	display: inline-block;
	font-size: 14px;
	font-size: 1.4rem;
	margin: 0;
}

@media screen and (min-width: 59.6875em) {
	.groups.group-members #buddypress #members-group-list li h5 {
		font-size: 16px;
		font-size: 1.6rem;
	}
}

.groups.group-members #buddypress #members-group-list li h5 a {
	border-bottom: 0;
}

.groups.group-members #buddypress #members-group-list li span.activity {
	font-size: 12px;
	font-size: 1.2rem;
}

.groups.group-members #buddypress #members-group-list li .action {
	top: 0;
}

.groups.group-members #subnav li {
	width: 100%;
}

@media screen and (max-width: 38.75em) {
	.groups.group-members #subnav li {
		background: #fff;
		padding: 20px 0;
	}
}

.groups.group-members #subnav li #search-members-form {
	float: left;
	margin: 5px 0 0 5px;
}

@media screen and (max-width: 38.75em) {
	.groups.group-members #subnav li #search-members-form {
		margin: 0;
		width: 100%;
	}
	.groups.group-members #subnav li #search-members-form label input[type="text"] {
		width: 100%;
	}
}

/**
*-----------------------------------------
* @subsection 6.2.1.3 - Group Send Invites
*-----------------------------------------
*/
.groups.group-invites #item-body .item-list .action {
	margin-bottom: 0;
}

@media screen and (min-width: 46.25em) {
	.groups.group-invites #buddypress #item-body #message {
		margin-top: 0;
	}
}

@media screen and (min-width: 55em) {
	.groups.group-invites #buddypress #send-invite-form {
		margin-top: 0;
	}
}

@media screen and (max-width: 46.25em) {
	.groups.group-invites #item-body .left-menu {
		float: none;
		margin: 10px 0;
	}
	.groups.group-invites #item-body .left-menu #invite-list {
		height: auto;
		width: auto;
	}
	.groups.group-invites #item-body .main-column {
		margin-right: 0;
	}
	.groups.group-invites #item-body .submit input {
		display: inline-block;
		width: 100%;
	}
}

/**
*-----------------------------------------------------
* @subsection 6.2.2 - Item Body User Accounts
*
* User Account specific item body rules
*-----------------------------------------------------
*/
.bp-user .entry-title {
	margin-bottom: 0.5em;
}

/**
*--------------------------------------------
* @subsection 6.2.2.1 - classes, pag, filters
*--------------------------------------------
*/
.bp-user #buddypress table th {
	font-size: 14px;
	font-size: 1.4rem;
}

.bp-user #buddypress table td {
	font-size: 12px;
	font-size: 1.2rem;
}

@media screen and (min-width: 46.25em) {
	.bp-user #buddypress table th {
		font-size: 16px;
		font-size: 1.6rem;
	}
	.bp-user #buddypress table td {
		font-size: 14px;
		font-size: 1.4rem;
	}
}

@media screen and (min-width: 77.5em) {
	.bp-user #buddypress table th {
		font-size: 18px;
		font-size: 1.8rem;
	}
	.bp-user #buddypress table td {
		font-size: 16px;
		font-size: 1.6rem;
	}
}

.bp-user #buddypress .pag-count {
	font-style: italic;
}

.bp-user #buddypress .notifications-options-nav,
.bp-user #buddypress .messages-options-nav {
	float: right;
	width: 100%;
}

@media screen and (min-width: 30em) {
	.bp-user #buddypress .notifications-options-nav,
	.bp-user #buddypress .messages-options-nav {
		width: 50%;
	}
}

.bp-user #buddypress .notifications-options-nav select,
.bp-user #buddypress .notifications-options-nav input,
.bp-user #buddypress .messages-options-nav select,
.bp-user #buddypress .messages-options-nav input {
	font-size: 14px;
	font-size: 1.4rem;
	outline: 0;
	padding: 0;
}

.bp-user #buddypress .notifications-options-nav select,
.bp-user #buddypress .messages-options-nav select {
	float: right;
	margin-left: 0;
	width: 100%;
}

@media screen and (min-width: 30em) {
	.bp-user #buddypress .notifications-options-nav select,
	.bp-user #buddypress .messages-options-nav select {
		width: 60%;
	}
}

.bp-user #buddypress .notifications-options-nav input,
.bp-user #buddypress .messages-options-nav input {
	float: left;
	font-family: "Noto Serif", serif;
	line-height: 1.5;
	margin-top: 10px;
	width: 100%;
}

.bp-user #buddypress .notifications-options-nav input[disabled]:hover,
.bp-user #buddypress .messages-options-nav input[disabled]:hover {
	background: none;
}

@media screen and (min-width: 30em) {
	.bp-user #buddypress .notifications-options-nav input,
	.bp-user #buddypress .messages-options-nav input {
		margin-top: 0;
		width: 38%;
	}
}

/**
	*-------------------------------------------
	* @subsection 6.2.2.2 - Extended Profiles
	*-------------------------------------------
	*/
.bp-user #buddypress .profile .bp-widget h4 {
	background: #6e6e6e;
	color: #fff;
	margin-bottom: 0;
	padding: 0.4em;
}

.bp-user #buddypress .profile .bp-widget table {
	margin-top: 0;
}

/* Edit Profile */
.bp-user #buddypress .profile #profile-edit-form .button-nav:before,
.bp-user #buddypress .profile #profile-edit-form .button-nav:after {
	content: " ";
	display: table;
}

.bp-user #buddypress .profile #profile-edit-form .button-nav:after {
	clear: both;
}

.bp-user #buddypress .profile #profile-edit-form ul.button-nav {
	border-bottom: 1px solid #eaeaea;
	margin-right: 0;
}

.bp-user #buddypress .profile #profile-edit-form ul.button-nav li {
	float: right;
	margin-bottom: 0;
}

.bp-user #buddypress .profile #profile-edit-form ul.button-nav li.current {
	border: 1px solid #eaeaea;
	border-bottom-color: #fff;
	margin-bottom: -1px;
}

.bp-user #buddypress .profile #profile-edit-form ul.button-nav a {
	background: none;
	border: 0;
	font-size: 18px;
	font-size: 1.8rem;
}

.bp-user #buddypress .profile #profile-edit-form .field-visibility-settings-toggle,
.bp-user #buddypress .profile #profile-edit-form .field-visibility-settings {
	font-size: 14px;
	font-size: 1.4rem;
}

.bp-user #buddypress .profile #profile-edit-form .field-visibility-settings-close,
.bp-user #buddypress .profile #profile-edit-form .visibility-toggle-link {
	background: #555;
	color: #fff;
	padding: 0.2em 0.5em;
}

.bp-user #buddypress .profile .bp-avatar #bp-delete-avatar a {
	font-size: inherit;
}

/**
	*-------------------------------------------
	* @subsection 6.2.2.3 - Groups
	*-------------------------------------------
	*/
@media screen and (min-width: 77.5em) {
	.bp-user #buddypress #groups-list li .item {
		right: 5%;
		width: 50%;
	}
}

/**
	*-------------------------------------------
	* @subsection 6.2.2.5 - Private Messaging
	*-------------------------------------------
	*/
.bp-user #buddypress {
	/* Auto Complete background */
	/* Sitewide Notices loop */
}

.bp-user #buddypress #message-thread a {
	border-bottom: 0;
}

.bp-user #buddypress #message-thread #message-subject {
	background: #6e6e6e;
	color: #fff;
	padding: 0.3em 0.2em 0.3em 0;
}

.bp-user #buddypress #message-thread #message-recipients {
	font-style: italic;
}

.bp-user #buddypress #message-thread #message-recipients a.confirm {
	border: 1px solid #eaeaea;
	font-style: normal;
}

.bp-user #buddypress #message-thread .message-metadata {
	overflow: hidden;
}

.bp-user #buddypress #message-thread .message-metadata img.avatar {
	float: none;
}

@media screen and (min-width: 46.25em) {
	.bp-user #buddypress #message-thread .message-metadata img.avatar {
		float: right;
	}
}

.bp-user #buddypress #message-thread .message-metadata .message-star-actions {
	float: left;
	margin-left: 5px;
	position: static;
}

.bp-user #buddypress #message-thread .message-content {
	background: #f7f7f7;
	border: 1px solid #eaeaea;
	margin: 10px 0 0 0;
	padding: 0.3em;
}

.bp-user #buddypress #message-thread #send-reply .message-content {
	background: #fff;
	border: 0;
}

.bp-user #buddypress #message-thread .alt {
	background: #fff;
}

.bp-user #buddypress #message-threads thead tr {
	background: #6e6e6e;
}

.bp-user #buddypress #message-threads tr td {
	background: #fff;
	display: inline-block;
	float: right;
}

.bp-user #buddypress #message-threads tr td.thread-star,
.bp-user #buddypress #message-threads tr td.thread-options {
	border-bottom-color: #b7b7b7;
	border-bottom-width: 2px;
	height: 2.4em;
	padding-bottom: 0.2em;
	padding-top: 0.2em;
}

@media screen and (max-width: 46.25em) {
	.bp-user #buddypress #message-threads tr td.thread-star,
	.bp-user #buddypress #message-threads tr td.thread-options {
		padding-top: 0;
	}
}

.bp-user #buddypress #message-threads tr td.bulk-select-check,
.bp-user #buddypress #message-threads tr td.thread-from {
	height: 2.6em;
}

@media screen and (max-width: 38.75em) {
	.bp-user #buddypress #message-threads tr td.bulk-select-check,
	.bp-user #buddypress #message-threads tr td.thread-from {
		height: 5.2em;
	}
}

.bp-user #buddypress #message-threads tr td.thread-from,
.bp-user #buddypress #message-threads tr td.thread-options {
	border-right: 0 !important;
	width: -webkit-calc(100% - 30px);
	width: -moz-calc(100% - 30px);
	width: calc(100% - 30px);
	margin-right: 0;
}

.bp-user #buddypress #message-threads tr td.thread-info {
	padding-right: 41px;
	width: 100%;
}

.bp-user #buddypress #message-threads tr td.thread-info a::after {
	content: " –  " attr(title);
	font-size: 12px;
	font-size: 1.2rem;
}

.bp-user #buddypress #message-threads tr td.thread-options {
	text-align: left;
}

.bp-user #buddypress #message-threads tr td.thread-options a {
	font-size: 12px;
	font-size: 1.2rem;
	line-height: 2.2;
}

.bp-user #buddypress #message-threads tr span.from {
	display: none;
}

.bp-user #buddypress #message-threads tr span.activity {
	display: block;
	float: left;
	line-height: 2;
}

@media screen and (max-width: 38.75em) {
	.bp-user #buddypress #message-threads tr span.activity {
		clear: both;
		font-size: 11px;
		font-size: 1.1rem;
		width: 100%;
	}
}

.bp-user #buddypress #message-threads tr.unread td {
	background: #dce5ff;
	border-bottom-color: #b7b7b7;
	border-color: #d1d1d1;
}

.bp-user #buddypress #message-threads th {
	display: none;
}

.bp-user #buddypress #message-threads th.bulk-select-all {
	border-bottom: 0;
	display: inline-block;
	text-align: right;
}

.bp-user #buddypress #message-threads th.bulk-select-all,
.bp-user #buddypress #message-threads td.bulk-select-check,
.bp-user #buddypress #message-threads td.thread-star {
	border-left: 0;
	width: 30px;
}

.bp-user #buddypress .acfb-holder li.friend-tab {
	margin-left: 0;
}

.bp-user #buddypress .acfb-holder li.friend-tab a {
	border-bottom: 0;
}

.bp-user #buddypress .acfb-holder li.friend-tab a img {
	display: inline;
	height: 20px;
	margin-left: 0.5em;
	width: 20px !important;
}

.bp-user #buddypress #message-threads.sitewide-notices td {
	width: 100%;
}

.bp-user #buddypress #message-threads.sitewide-notices td strong {
	background: #6e6e6e;
	color: #fff;
	display: block;
	margin-bottom: 0.4em;
	padding-right: 0.2em;
}

.bp-user #buddypress #message-threads.sitewide-notices td a {
	display: inline-block;
}

.bp-user #buddypress #message-threads.sitewide-notices td:first-child {
	display: none;
}

.bp-user #buddypress #message-threads.sitewide-notices td:first-child + td + td {
	border-bottom: 0;
}

.bp-user #buddypress #message-threads.sitewide-notices td:first-child + td + td span {
	line-height: 1;
}

.bp-user #buddypress #message-threads.sitewide-notices td:last-child {
	border-bottom-color: #b7b7b7;
	line-height: 1;
	text-align: left;
}

.bp-user #buddypress #message-threads.sitewide-notices td:last-child a:last-child {
	line-height: 0;
	margin-right: 0.7em;
	text-indent: -999em;
}

.bp-user #buddypress #message-threads.sitewide-notices td:last-child a:last-child::after {
	content: attr(title);
	display: block;
	line-height: initial;
	text-indent: 0;
}

/**
	*------------------------------
	* @subsection 6.2.2.6 - Settings
	*------------------------------
	*/
.bp-user #buddypress #settings-form > p {
	font-size: 20px;
	font-size: 2rem;
	margin: 20px 0 10px;
}

.bp-user #buddypress table.notification-settings th.title {
	width: 75%;
}

.bp-user #buddypress table.notification-settings td.yes,
.bp-user #buddypress table.notification-settings td.no {
	vertical-align: middle;
}

.bp-user #buddypress table.profile-settings {
	width: 100%;
}

.bp-user #buddypress table.profile-settings th.field-group-name,
.bp-user #buddypress table.profile-settings td.field-name {
	width: 50%;
}

@media screen and (min-width: 46.25em) {
	.bp-user #buddypress table.profile-settings th.field-group-name,
	.bp-user #buddypress table.profile-settings td.field-name {
		width: 70%;
	}
}

.bp-user #buddypress table.profile-settings th.title,
.bp-user #buddypress table.profile-settings td.field-visibility {
	width: 30%;
}

.bp-user #buddypress table.profile-settings td.field-visibility select {
	width: 100%;
}

/**
*-------------------------------------------------------------------------------
* @section 7.0 - Forms  - General
*-------------------------------------------------------------------------------
*/
#buddypress div.activity-comments form .ac-textarea {
	background: #f7f7f7;
	border: 1px solid rgba(153, 153, 153, 0.3);
}

#buddypress div.activity-comments form .ac-textarea textarea {
	background: none;
	border: 0;
}

#buddypress select {
	border: 1px solid rgba(153, 153, 153, 0.5);
}

#buddypress .standard-form li,
#buddypress .group-create-form li {
	float: none;
}

#buddypress .standard-form input[type='text'],
#buddypress .standard-form textarea,
#buddypress .group-create-form input[type='text'],
#buddypress .group-create-form textarea {
	width: 100%;
}

#buddypress div.dir-search,
#buddypress div.message-search,
#buddypress
li.groups-members-search {
	float: none;
	margin: 10px 0;
}

#buddypress div.dir-search form,
#buddypress div.message-search form,
#buddypress
li.groups-members-search form {
	border: 1px solid rgba(153, 153, 153, 0.4);
	overflow: hidden;
}

#buddypress div.dir-search form label,
#buddypress div.message-search form label,
#buddypress
li.groups-members-search form label {
	float: right;
	width: 80%;
}

#buddypress div.dir-search form input[type='text'],
#buddypress div.message-search form input[type='text'],
#buddypress
li.groups-members-search form input[type='text'] {
	float: right;
	margin: 0;
	width: 80%;
}

#buddypress div.dir-search form input[type='text'],
#buddypress div.dir-search form input[type='submit'],
#buddypress div.message-search form input[type='text'],
#buddypress div.message-search form input[type='submit'],
#buddypress
li.groups-members-search form input[type='text'],
#buddypress
li.groups-members-search form input[type='submit'] {
	font-size: 14px;
	font-size: 1.4rem;
	border: 0;
	line-height: inherit;
}

#buddypress div.dir-search form input[type='text'],
#buddypress div.message-search form input[type='text'],
#buddypress
li.groups-members-search form input[type='text'] {
	border-left: 1px solid rgba(153, 153, 153, 0.4);
	padding: 0.2em 0.2em 0.2em 0;
}

#buddypress div.dir-search form input[type='submit'],
#buddypress div.message-search form input[type='submit'],
#buddypress
li.groups-members-search form input[type='submit'] {
	float: left;
	font-weight: normal;
	padding: 0.2em 1em;
	text-align: center;
	text-transform: none;
	width: 20%;
}

@media screen and (min-width: 38.75em) {
	#buddypress div.dir-search,
	#buddypress div.message-search,
	#buddypress li.groups-members-search {
		float: left;
		margin-bottom: 5px !important;
	}
	#buddypress div.dir-search form label,
	#buddypress div.dir-search form input[type='text'],
	#buddypress div.dir-search form input[type='submit'],
	#buddypress div.message-search form label,
	#buddypress div.message-search form input[type='text'],
	#buddypress div.message-search form input[type='submit'],
	#buddypress li.groups-members-search form label,
	#buddypress li.groups-members-search form input[type='text'],
	#buddypress li.groups-members-search form input[type='submit'] {
		width: auto;
	}
}

@media screen and (min-width: 77.5em) {
	#buddypress .dir-search form input[type='text'],
	#buddypress .message-search form input[type='text'] {
		font-size: 16px;
		font-size: 1.6rem;
	}
	#buddypress .dir-search form input[type='submit'],
	#buddypress .message-search form input[type='submit'] {
		font-size: 16px;
		font-size: 1.6rem;
	}
}

/**
*-------------------------------------------------------------------------------
* @section 8.0 - Tables - General
*-------------------------------------------------------------------------------
*/
#buddypress table {
	font-size: 14px;
	font-size: 1.4rem;
	margin: 20px 0;
}

#buddypress table tr th {
	background: #6e6e6e;
	border-color: #b7b7b7;
	color: #fff;
}

#buddypress table p {
	margin-bottom: 0.5em;
}

@media screen and (min-width: 55em) {
	#buddypress table {
		font-size: 16px;
		font-size: 1.6rem;
	}
}

/*__ User Account tables __*/
#buddypress .notifications th,
#buddypress .messages-notices th {
	width: 30%;
}

#buddypress .notifications th.bulk-select-all,
#buddypress .messages-notices th.bulk-select-all {
	text-align: center;
	width: 10%;
}

#buddypress .notifications .bulk-select-check,
#buddypress .notifications .thread-star,
#buddypress .messages-notices .bulk-select-check,
#buddypress .messages-notices .thread-star {
	text-align: center;
}

#buddypress .notifications .notification-actions,
#buddypress .notifications td.thread-options,
#buddypress .messages-notices .notification-actions,
#buddypress .messages-notices td.thread-options {
	text-align: center;
}

#buddypress .notifications .notification-actions a,
#buddypress .notifications td.thread-options a,
#buddypress .messages-notices .notification-actions a,
#buddypress .messages-notices td.thread-options a {
	display: inline-block;
	margin: 0;
	padding: 0;
}

#buddypress .notifications td .button,
#buddypress .messages-notices td .button {
	border: 0;
	display: block;
	padding: 0;
	text-align: center;
}

/**
*-------------------------------------------------------------------------------
* @section 9.0 - Error / Success messages
*-------------------------------------------------------------------------------
*/
#buddypress #item-body div#message {
	margin-top: 20px;
}

@media screen and (min-width: 55em) {
	#buddypress #item-body div#message {
		margin-left: 20px;
	}
}

#buddypress div#message p {
	font-size: 18px;
	font-size: 1.8rem;
	font-weight: bold;
}

#buddypress div#message.info p {
	background: #c6e4ee;
	border: 1px solid #78bed6;
	color: #1e5264;
}

#buddypress div#message.updated p {
	background: #dee6b2;
	border: 1px solid #becc66;
	color: #454d19;
}

.delete-group #buddypress div#message.info p {
	background: #db7e7e;
	border: 1px solid #be3535;
	color: #1f0808;
}

/**
*-------------------------------------------------------------------------------
* @section 10.0 - Ajax Loading, Widgets, General classes
*-------------------------------------------------------------------------------
*/
#buddypress {
	/* Auto Complete background */
}

#buddypress .acfb-holder li.friend-tab {
	background: #9fd1e2;
	border: inherit;
}
