@charset "UTF-8";
/*------------------------------------------------------------------------------

This is the BuddyPress companion stylesheet for
the WordPress Twentyfourteen theme.

This sheet supports the primary BuddyPress styles in buddypress.css

If you are running as a child theme of twentyfourteen this stylesheet will be
loaded by default. If you want to modify the styles the normal BP Theme Compat
hierarchy works and you can copy the file to buddypress/css/ or community/css/
in your child themes root & either start over or modify the ruelesets.

If you do not require the styles you can dequeue them from the themes functions file.

Please see this codex article for more information:
http://codex.buddypress.org/themes/buddypress-companion-stylesheets/

--------------------------------------------------------------------------------
>>> TABLE OF CONTENTS:
--------------------------------------------------------------------------------
1.0 Theme Structural Elements
2.0 - Navigation - General
	2.1 - Navs - Object Nav / Sub Nav (item-list-tabs)
	2.2 - Pagination
3.0 - Images
4.0 - BP Lists / Loops Generic
	4.1 - Activity Loop
		4.1.1 - Activity Whats new
		4.1.2 - Activity Listing
		4.1.3 - Activity Comments
	4.2 - Members Loop
	4.3 - Groups Loop
	4.4 - Blogs Loop
5.0 - Directories - Members, Groups, Blogs, Forums
6.0 - Single Item screens: User Account & Single Group Screens
	6.1 - Item Headers: Global
		6.1.1 - Item-header: Groups;
		6.1.2 -  item-header: User Accounts
	6.2 - Item Body: Global
		6.2.1 - item-body: Groups
			6.2.1.1- Management settings screens
			6.2.1.2 - Group members list
			6.2.1.3 - Group Send Invites
		6.2.2 - item-body: User Accounts
			6.2.2.1 - classes, pag, filters
			6.2.2.2 - Extended Profiles
			6.2.2.3 - Groups
			6.2.2.4 - friends
			6.2.2.5 - Private Messaging Threads
			6.2.2.6 - Settings
7.0 - Forms  -  General
8.0 - Tables -  General
9.0 - Error / Success Messages
10.0 - Ajax Loading
11.0 - Widgets
------------------------------------------------------------------------------*/
/**
*-------------------------------------------------------------------------------
* @section - 1.0 - Theme - Structural Elements
*-------------------------------------------------------------------------------
*/
#buddypress h1,
#buddypress h2,
#buddypress h3,
#buddypress h4,
#buddypress h5,
#buddypress h6 {
	clear: none;
}

.buddypress .site-content {
	padding-bottom: 20px;
	padding-top: 4%;
}

@media screen and (min-width: 59.6875em) {
	.buddypress .site-content {
		padding-top: 0;
	}
}

.buddypress .site-content article {
	margin: 0 4%;
	padding-top: 0;
}

.buddypress .site-content article .entry-header,
.buddypress .site-content article .entry-content {
	max-width: 100%;
	padding: 0;
}

.buddypress .site-content article #buddypress {
	margin-bottom: 40px;
}

/**
* ------------------------------------------------------------------------------
* @section 2.0 - Navigation - General
*-------------------------------------------------------------------------------
*/
/**
*----------------------------------------------------------
* @subsection 2.1 - Object Nav / Subnav (item-list-tabs)
*
* The main navigational elements for all BP screens
*----------------------------------------------------------
*/
#buddypress .item-list-tabs ul li {
	width: 100%;
}

@media screen and (min-width: 400px) {
	#buddypress .item-list-tabs ul li {
		width: 50%;
	}
}

@media screen and (min-width: 594px) {
	#buddypress .item-list-tabs ul li {
		width: auto;
	}
}

.directory #buddypress .item-list-tabs ul:before,
.directory #buddypress .item-list-tabs ul:after {
	content: " ";
	display: table;
}

.directory #buddypress .item-list-tabs ul:after {
	clear: both;
}

.directory #buddypress .item-list-tabs ul {
	border-bottom: 1px solid rgba(0, 0, 0, 0.2);
	padding-bottom: 10px;
}

@media screen and (min-width: 783px) {
	.directory #buddypress .item-list-tabs ul {
		padding-bottom: 0;
	}
	.directory #buddypress .item-list-tabs ul li.selected {
		border: 1px solid rgba(0, 0, 0, 0.2);
		border-bottom-color: #fff;
		-webkit-border-top-left-radius: 4px;
		border-top-left-radius: 4px;
		-webkit-border-top-right-radius: 4px;
		border-top-right-radius: 4px;
		background-clip: padding-box;
		margin-bottom: -1px;
	}
	.directory #buddypress .item-list-tabs ul li.selected a {
		background: none;
		outline: none;
	}
}

.directory #buddypress #subnav ul {
	border-bottom: 0;
}

/* List last filters global */
#buddypress #subnav li#activity-filter-select.last {
	line-height: 2.1;
	margin-top: 0;
}

@media screen and (max-width: 783px) {
	#buddypress #object-nav ul {
		border-bottom: 1px solid rgba(0, 0, 0, 0.2);
		overflow: hidden;
		padding-bottom: 10px;
	}
	#buddypress div#subnav.item-list-tabs {
		margin-bottom: 40px;
	}
	#buddypress div#subnav.item-list-tabs ul li {
		width: auto;
	}
}

/*__ Vertical Menu User Account Screens __*/
@media screen and (min-width: 783px) {
	.bp-user #buddypress,
	.single-item.groups #buddypress {
		background: #d8d8d8;
	}
	#buddypress #item-header,
	#buddypress #item-body {
		background: #fff;
	}
	#buddypress #item-body {
		border-right: 1px solid #bebebe;
	}
	#buddypress #object-nav {
		background: #d8d8d8;
		border-left: 1px solid #bebebe;
		float: right;
		margin-left: -1px;
		width: 200px;
	}
	#buddypress #object-nav ul {
		border-bottom: 0;
		border-top: 1px solid #bebebe;
		padding: 0;
	}
	#buddypress #object-nav ul li {
		float: none;
		overflow: hidden;
	}
	#buddypress #object-nav ul li:focus,
	#buddypress #object-nav ul li:hover {
		background: #bebebe;
	}
	#buddypress #object-nav ul li span {
		border-radius: 10%;
		float: left;
		margin-left: 15px;
	}
	#buddypress #object-nav ul li.current {
		background: #f1f1f1;
	}
	#buddypress #item-body {
		overflow: hidden;
		padding: 0 20px;
		width: auto;
	}
	#buddypress #item-body #subnav {
		border: 1px solid #bebebe;
		border-right: 0;
		border-left: 0;
		margin: 0 -20px 20px;
	}
	#buddypress #item-body #subnav li:focus,
	#buddypress #item-body #subnav li:hover {
		background: #bebebe;
	}
	#buddypress #item-body #subnav li.current {
		background: #f1f1f1;
	}
	#buddypress #item-body #subnav li#activity-filter-select:focus,
	#buddypress #item-body #subnav li#activity-filter-select:hover {
		background: none;
	}
	#buddypress #item-body #subnav li#activity-filter-select select {
		max-width: 130px;
	}
}

/**
*----------------------------------------------------------
* @subsection 2.2 - Pagination
*----------------------------------------------------------
*/
#buddypress div.pagination .pag-count {
	margin-right: 0;
}

/**
*-------------------------------------------------------------------------------
* @section 4.0 - BP Lists / Loops Generic
*-------------------------------------------------------------------------------
*/
#buddypress .item-list .item-title a {
	display: block;
	font-size: 22px;
	font-size: 1.375rem;
	text-decoration: none;
}

#buddypress .item-list .item-title span.update,
#buddypress .item-list .item-title span a {
	font-size: 12px;
	font-size: 0.75rem;
}

#buddypress ul.item-list li {
	overflow: hidden !important;
}

#buddypress ul.item-list li .item-avatar {
	float: none;
	margin-bottom: 20px;
	text-align: center;
}

#buddypress ul.item-list li .item-avatar a img.avatar {
	float: none;
}

#buddypress ul.item-list li div.item-title {
	float: none;
	width: 100%;
}

#buddypress ul.item-list li div.item-title > a {
	text-align: center;
}

#buddypress ul.item-list li .item {
	margin-right: 0;
}

#buddypress ul.item-list li div.item-desc {
	margin-right: 0;
	width: auto;
}

#buddypress ul.item-list li div.action {
	clear: both;
	float: none;
	margin: 0;
	position: relative;
	text-align: right;
}

#buddypress ul.item-list li div.action div {
	margin: 0 0 10px;
}

#buddypress ul.item-list li .activity-meta,
#buddypress ul.item-list li .action {
	float: none;
}

#buddypress ul.item-list li .activity-meta a,
#buddypress ul.item-list li .activity-meta div,
#buddypress ul.item-list li .action a,
#buddypress ul.item-list li .action div {
	display: block;
	margin: 5px 0;
}

@media screen and (min-width: 594px) {
	#buddypress ul.item-list li .item-avatar {
		float: right;
		margin-bottom: 0;
	}
	#buddypress ul.item-list li div.item-title > a {
		text-align: right;
	}
	#buddypress ul.item-list li .item {
		float: left;
		margin-right: 5%;
		width: 80%;
	}
	#buddypress ul.item-list li .activity-meta {
		clear: both;
	}
	#buddypress ul.item-list li .activity-meta a,
	#buddypress ul.item-list li .activity-meta div {
		display: inline-block;
		margin: 5px 0 0 5px;
	}
}

@media screen and (min-width: 783px) {
	#buddypress ul.item-list li .item {
		float: right;
		width: 55%;
	}
	#buddypress ul.item-list li .item div.item-desc {
		margin: 0;
		width: auto;
	}
	#buddypress ul.item-list li div.action {
		clear: none;
		float: left;
		top: 0;
		width: 25%;
	}
	#buddypress ul.item-list li div.action div {
		display: block;
	}
	#buddypress ul.item-list li div.action div a {
		-webkit-box-sizing: border-box;
		-moz-box-sizing: border-box;
		box-sizing: border-box;
		display: block;
		width: 100%;
	}
	#buddypress ul.item-list li div.action .meta {
		text-align: center;
	}
}

#buddypress ul.item-list li .meta,
#buddypress ul.item-list li .item-meta .activity {
	font-style: italic;
}

/**
*------------------------------------------------------------
* @section 4.1 - Activity
*------------------------------------------------------------
*/
/**
*-------------------------------------------------
* @subsection 4.1.1 - Activity What's New
*-------------------------------------------------
*/
#buddypress form#whats-new-form {
	margin: 40px 0;
}

#buddypress form#whats-new-form #whats-new-avatar {
	float: none;
	margin-bottom: 20px;
	text-align: center;
}

#buddypress form#whats-new-form #whats-new-content,
#buddypress form#whats-new-form p.activity-greeting {
	margin-right: 0;
	padding-right: 0;
}

#buddypress form#whats-new-form p.activity-greeting {
	clear: right;
	line-height: inherit;
	margin-bottom: 5px;
}

#buddypress form#whats-new-form textarea#whats-new {
	width: 100%;
}

#buddypress form#whats-new-form #whats-new-content #whats-new-options[style] {
	height: auto !important;
}

@media screen and (max-width: 594px) {
	#buddypress form#whats-new-form #whats-new-content #whats-new-options {
		display: flex;
		flex-direction: column;
	}
	#buddypress form#whats-new-form #whats-new-content #whats-new-options #whats-new-submit {
		order: 2;
	}
	#buddypress form#whats-new-form #whats-new-content #whats-new-options #whats-new-submit input {
		width: 100%;
	}
	#buddypress form#whats-new-form #whats-new-content #whats-new-options #whats-new-post-in-box {
		margin-top: 10px;
		order: 1;
	}
	#buddypress form#whats-new-form #whats-new-content #whats-new-options #whats-new-post-in-box select {
		margin-top: 5px;
		max-width: 100%;
		width: 100%;
	}
}

@media screen and (min-width: 594px) {
	#buddypress form#whats-new-form #whats-new-avatar {
		float: right;
	}
	#buddypress form#whats-new-form #whats-new-content,
	#buddypress form#whats-new-form p.activity-greeting {
		clear: none;
		overflow: hidden;
		padding-right: 20px;
	}
}

/**
*-------------------------------------------------
* @subsection 4.1.2 - Activity Listing
*-------------------------------------------------
*/
#buddypress #activity-stream {
	margin-top: 40px;
}

#buddypress .activity-list li.activity-item:not(.mini) .activity-avatar {
	float: none;
	margin-bottom: 10px;
	text-align: center;
}

#buddypress .activity-list li.activity-item:not(.mini) .activity-avatar img.avatar {
	display: inline;
	float: none;
}

#buddypress .activity-list li.mini .activity-avatar img.avatar {
	margin-right: 0;
}

#buddypress .activity-list li.mini .activity-meta a {
	font-size: 12px;
	font-size: 0.75rem;
}

#buddypress .activity-list .activity-content {
	margin: 0;
}

#buddypress .activity-list .activity-content .activity-header {
	margin: -0.5em 0 0;
}

#buddypress .activity-list .activity-content .activity-header > p {
	line-height: 1.4;
	margin-top: -10px;
}

#buddypress .activity-list .activity-content .activity-header img.avatar {
	margin-bottom: 0 !important;
	vertical-align: middle;
}

#buddypress .activity-list .activity-content .activity-inner {
	margin: 10px 0;
}

@media screen and (min-width: 594px) {
	#buddypress .activity-list li.activity-item:not(.mini) .activity-avatar {
		float: right;
		margin: 0 0 0 20px;
	}
	#buddypress .activity-list li.activity-item:not(.mini) .activity-avatar img.avatar {
		display: inline;
		float: none;
	}
	#buddypress .activity-list li.mini .activity-avatar {
		margin: 0 5% 0 10px;
	}
	#buddypress .activity-list .activity-content {
		margin-right: 0;
		overflow: hidden;
	}
}

body.activity-permalink #buddypress {
	background: transparent;
}

@media screen and (max-width: 760px) {
	body.activity-permalink #buddypress .activity-list li .activity-content,
	body.activity-permalink #buddypress .activity-list li .activity-comments {
		margin-right: 0;
	}
}

/**
*-------------------------------------------------
* @subsection 4.1.3 - Activity Comments
*-------------------------------------------------
*/
#buddypress .activity .activity-comments {
	margin-right: 0;
	margin-top: 5px;
}

@media screen and (min-width: 594px) {
	#buddypress .activity .activity-comments {
		margin-right: 70px;
	}
}

#buddypress .activity .activity-comments ul {
	background: rgba(247, 247, 247, 0.6);
	margin: 30px 2px 0 0;
}

#buddypress .activity .activity-comments ul ul {
	border-right: 1px solid rgba(0, 0, 0, 0.1);
	padding-right: 2%;
}

@media screen and (max-width: 400px) {
	#buddypress .activity .activity-comments .acomment-avatar {
		display: block;
		text-align: center;
	}
	#buddypress .activity .activity-comments .acomment-avatar a,
	#buddypress .activity .activity-comments .acomment-avatar img.avatar {
		display: inline;
		float: none;
	}
	#buddypress .activity .activity-comments .acomment-content,
	#buddypress .activity .activity-comments .acomment-meta,
	#buddypress .activity .activity-comments .acomment-options {
		margin: 5px;
	}
	#buddypress .activity .activity-comments .acomment-content {
		padding: 0 10px;
	}
}

#buddypress .activity .activity-comments .ac-form input[type="submit"],
#buddypress .activity .activity-comments .ac-form .ac-reply-cancel {
	color: rgba(43, 43, 43, 0.8);
	display: inline-block;
	font-family: inherit;
	font-size: 12px;
	font-size: 0.75rem;
	font-weight: normal;
	line-height: 1.2;
	padding: 4px 10px;
	text-transform: lowercase;
	width: 100px;
}

#buddypress .activity .activity-comments .ac-form .ac-reply-cancel {
	border: 1px solid rgba(0, 0, 0, 0.2);
	text-align: center;
}

#buddypress .activity .activity-comments .ac-form .ac-reply-cancel:focus,
#buddypress .activity .activity-comments .ac-form .ac-reply-cancel:hover {
	background: #ededed;
}

/**
*------------------------------------------------------------
* @section 4.2 - Members Loop
*------------------------------------------------------------
*/
/*
*-------------------------------------------------------------------------------
* @section 6.0 - Single Item screens
*-------------------------------------------------------------------------------
*/
/* groups & user account page entry title */
.single-item.groups .entry-title,
.bp-user .entry-title {
	background: #4d4d4d;
	color: #fff;
	font-size: 22px;
	font-size: 1.375rem;
	margin-bottom: 10px;
	padding: 0.2em;
}

@media screen and (min-width: 673px) {
	.single-item.groups .entry-title,
	.bp-user .entry-title {
		font-size: 28px;
		font-size: 1.75rem;
	}
}

/**
*------------------------------------------------------------
* @subsection 6.1 - Item Header: Global
*------------------------------------------------------------
*/
#buddypress div#item-header {
	padding-bottom: 10px;
}

#buddypress div#item-header img.avatar {
	margin: 0 0 10px 20px;
}

#buddypress div#item-header #message {
	clear: both;
	margin-bottom: 5px;
	padding-top: 10px;
}

#buddypress div#item-header #message p {
	margin-bottom: 0;
}

/**
*-------------------------------------------------
* @subsection 6.1.1 - item-header: Groups
*-------------------------------------------------
*/
@media screen and (max-width: 594px) {
	.single-item.groups #buddypress div#item-header {
		display: flex;
		flex-direction: column;
	}
	.single-item.groups #buddypress div#item-header #item-header-avatar {
		order: 1;
		text-align: center;
	}
	.single-item.groups #buddypress div#item-header #item-header-avatar a {
		border-bottom: 0;
	}
	.single-item.groups #buddypress div#item-header #item-header-avatar a img {
		display: inline-block;
		float: none;
	}
	.single-item.groups #buddypress div#item-header #item-header-content {
		order: 2;
	}
	.single-item.groups #buddypress div#item-header #item-actions {
		margin-right: 0;
		order: 3;
		text-align: right;
	}
	.single-item.groups #buddypress div#item-header #item-actions ul {
		margin-right: 0;
	}
	.single-item.groups #buddypress div#item-header #item-actions ul li {
		float: right;
	}
	.single-item.groups #buddypress div#item-header #message {
		order: 4;
	}
}

.single-item.groups #buddypress #item-header #item-actions {
	float: none;
	margin: 0 20px 0 0;
	width: auto;
}

.single-item.groups #buddypress #item-header #item-actions h3 {
	font-size: 20px;
	font-size: 1.25rem;
}

.single-item.groups #buddypress #item-header #item-header-avatar {
	text-align: center;
}

.single-item.groups #buddypress #item-header #item-header-content {
	float: none;
	overflow: hidden;
}

@media screen and (min-width: 594px) {
	.single-item.groups #buddypress #item-header #item-actions {
		float: left;
	}
	.single-item.groups #buddypress #item-header #item-header-avatar {
		float: right;
	}
	.single-item.groups #buddypress #item-header #item-header-content {
		float: none;
		overflow: hidden;
	}
}

/**
*-------------------------------------------------
* @subsection 6.1.2 - item-header: User Accounts
*-------------------------------------------------
*/
.bp-user #buddypress #item-header #item-header-avatar {
	text-align: center;
	width: 100%;
}

.bp-user #buddypress #item-header #item-header-avatar img {
	float: none;
}

.bp-user #buddypress #item-header #latest-update {
	margin-bottom: 10px;
}

@media screen and (max-width: 594px) {
	.bp-user #buddypress #item-header #item-buttons div.generic-button {
		display: inline-block;
		float: none;
		margin: 0 0 5px 0;
		width: 100%;
	}
	.bp-user #buddypress #item-header #item-buttons div.generic-button a {
		-webkit-box-sizing: border-box;
		-moz-box-sizing: border-box;
		box-sizing: border-box;
		display: block;
		width: 100%;
	}
}

@media screen and (min-width: 673px) {
	.bp-user #buddypress #item-header #item-header-avatar {
		float: right;
		overflow: hidden;
		text-align: right;
		width: 20%;
	}
	.bp-user #buddypress #item-header #item-header-avatar img {
		margin: 0;
	}
	.bp-user #buddypress #item-header #item-header-content {
		float: left;
		width: 78%;
	}
	.bp-user #buddypress #item-header #item-header-content #latest-update {
		margin-bottom: 20px;
	}
}

/**
*------------------------------------------------------------
* @subsection 6.2 - Item Body: Global
*------------------------------------------------------------
*/
/**
*-------------------------------------------------
* @subsection 6.2.1 - item-body: Groups
*-------------------------------------------------
*/
/**
	*------------------------------
	* 6.2.1.1 - Groups Management
	*------------------------------
	*/
/* Settings */
#group-settings-form .radio strong,
#create-group-form .radio strong {
	font-size: 18px;
	font-size: 1.125rem;
}

#group-settings-form .radio ul,
#create-group-form .radio ul {
	color: #777777;
}

#group-settings-form #group-creation-previous,
#create-group-form #group-creation-previous {
	margin: 10px 0;
}

/* Manage Members */
.groups.manage-members #group-settings-form h4 {
	margin-top: 40px;
}

.groups.manage-members #group-settings-form .item-list {
	background: #f7f7f7;
	border-top: 0;
	padding: 0 0.5em;
}

.groups.manage-members #group-settings-form .item-list li {
	border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

.groups.manage-members #group-settings-form .item-list li:last-child {
	border-bottom: 0;
}

.groups.manage-members #group-settings-form .item-list li img,
.groups.manage-members #group-settings-form .item-list li h5 {
	clear: none;
	float: right;
}

.groups.manage-members #group-settings-form .item-list li img > a,
.groups.manage-members #group-settings-form .item-list li h5 > a {
	border-bottom: 0;
}

.groups.manage-members #group-settings-form .item-list li span.small {
	display: block;
	float: none;
	margin-top: 10px;
	width: 100%;
}

.groups.manage-members #group-settings-form .item-list li span.small a {
	display: inline-block;
	margin: 5px 0;
	width: 100%;
}

@media screen and (min-width: 38.75em) {
	.groups.manage-members #group-settings-form .item-list li span.small a {
		width: auto;
	}
}

.groups.manage-members #group-settings-form .item-list li h5 {
	margin: 0;
}

/**
	*------------------------------
	* 6.2.1.2 - Group Members List
	*------------------------------
	*/
#buddypress #members-group-list .item-list h5 {
	display: inline-block;
	margin: 0;
}

#buddypress #members-group-list .item-list span.activity {
	padding-right: 10px;
}

#buddypress #item-body #subnav li.groups-members-search:focus,
#buddypress #item-body #subnav li.groups-members-search:hover,
#buddypress #item-body #subnav li.last:focus,
#buddypress #item-body #subnav li.last:hover {
	background: none;
}

.groups.group-members #subnav ul:before,
.groups.group-members #subnav ul:after {
	content: " ";
	display: table;
}

.groups.group-members #subnav ul:after {
	clear: both;
}

.groups.group-members #subnav ul {
	padding: 5px 0;
}

@media screen and (max-width: 400px) {
	.groups.group-members #subnav li {
		background: #fff;
		padding: 10px 0;
		width: 100% !important;
	}
}

.groups.group-members #subnav li #search-members-form {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	float: right;
}

@media screen and (max-width: 400px) {
	.groups.group-members #subnav li #search-members-form {
		margin: 0;
		width: 100%;
	}
	.groups.group-members #subnav li #search-members-form label input[type="text"] {
		width: 100%;
	}
}

@media screen and (min-width: 783px) {
	.groups.group-members #subnav li #search-members-form {
		margin-right: 3px;
	}
}

/**
	*------------------------------
	* 6.2.1.3 - Groups Send Invites
	*------------------------------
	*/
@media screen and (min-width: 783px) {
	.send-invites #buddypress #item-body {
		border-top: 1px solid #bebebe;
	}
}

@media screen and (max-width: 400px) {
	.send-invites #buddypress #item-body .left-menu {
		float: none;
	}
	.send-invites #buddypress #item-body .left-menu #invite-list {
		height: auto;
		width: auto;
	}
	.send-invites #buddypress #item-body .main-column {
		margin-right: 0;
	}
}

.send-invites #buddypress #item-body li img.avatar {
	display: block;
	float: none;
	margin: 10px auto;
}

.send-invites #buddypress #item-body li .action {
	margin-top: 10px;
	text-align: right;
	width: 100%;
}

@media screen and (min-width: 38.75em) {
	.send-invites #buddypress #item-body li .action {
		text-align: left;
	}
}

@media screen and (min-width: 594px) {
	.send-invites #buddypress #item-body #invite-list {
		width: 160px;
	}
	.send-invites #buddypress #item-body .main-column {
		margin-right: 190px;
	}
	.send-invites #buddypress #item-body li img.avatar {
		float: right;
		margin: 0 0 0 10px;
	}
}

/**
*-------------------------------------------------
* @subsection 6.2.2 - item-body: User Accounts
*-------------------------------------------------
*/
/**
	*------------------------------
	* 6.2.2.2 - Extended Profiles
	*------------------------------
	*/
#buddypress .profile .bp-widget h4 {
	background: #999;
	color: #fff;
	padding: 0.4em 0.2em;
}

#buddypress .profile #profile-edit-form .button-nav:before,
#buddypress .profile #profile-edit-form .button-nav:after {
	content: " ";
	display: table;
}

#buddypress .profile #profile-edit-form .button-nav:after {
	clear: both;
}

#buddypress .profile #profile-edit-form ul.button-nav {
	border-bottom: 1px solid rgba(0, 0, 0, 0.1);
	margin-right: 0;
}

#buddypress .profile #profile-edit-form ul.button-nav li {
	float: right;
	margin-bottom: 0;
}

#buddypress .profile #profile-edit-form ul.button-nav li.current {
	border: 1px solid rgba(0, 0, 0, 0.1);
	border-bottom-color: #fff;
	margin-bottom: -1px;
}

#buddypress .profile #profile-edit-form ul.button-nav a {
	background: none;
	border: 0;
	font-size: 18px;
	font-size: 1.125rem;
}

#buddypress .profile #profile-edit-form .field-visibility-settings-toggle,
#buddypress .profile #profile-edit-form .field-visibility-settings {
	font-size: 14px;
	font-size: 0.875rem;
}

#buddypress .profile #profile-edit-form .field-visibility-settings-close,
#buddypress .profile #profile-edit-form .visibility-toggle-link {
	background: #000;
	color: #fff;
	padding: 0.2em 0.5em;
}

/**
	*------------------------------
	* @subsection 6.2.2.5 - Messaging
	*------------------------------
	*/
#buddypress {
	/* Read Single thread */
	/* Sitewide Notices loop */
}

#buddypress table#message-threads {
	border-right: 1px solid rgba(0, 0, 0, 0.2);
	border-left: 1px solid rgba(0, 0, 0, 0.2);
}

#buddypress table#message-threads tbody > tr:first-child td.bulk-select-check,
#buddypress table#message-threads tbody > tr:first-child td.thread-from {
	border-top: 1px solid rgba(0, 0, 0, 0.2);
}

#buddypress table#message-threads tr td {
	background: #fff;
	border-left: 0 !important;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	display: inline-block;
	float: right;
}

#buddypress table#message-threads tr td.thread-star,
#buddypress table#message-threads tr td.thread-options {
	border-bottom-color: rgba(0, 0, 0, 0.2);
	border-bottom-width: 2px;
	border-right: 0;
	height: 2.4em;
	padding-bottom: 0.2em;
	padding-top: 0.2em;
}

@media screen and (max-width: 549px) {
	#buddypress table#message-threads tr td.thread-star,
	#buddypress table#message-threads tr td.thread-options {
		padding-top: 0;
	}
}

#buddypress table#message-threads tr td.bulk-select-check,
#buddypress table#message-threads tr td.thread-from {
	border-right: 0;
	height: 2.6em;
}

@media screen and (max-width: 320px) {
	#buddypress table#message-threads tr td.bulk-select-check,
	#buddypress table#message-threads tr td.thread-from {
		height: 5.2em;
	}
}

#buddypress table#message-threads tr td.thread-from,
#buddypress table#message-threads tr td.thread-options {
	border-right: 0;
	width: -webkit-calc(100% - 30px);
	width: -moz-calc(100% - 30px);
	width: calc(100% - 30px);
	margin-right: 0;
}

#buddypress table#message-threads tr td.thread-info {
	border-right: 0;
	padding-right: 41px;
	width: 100%;
}

#buddypress table#message-threads tr td.thread-info a::after {
	content: " –  " attr(title);
	font-size: 12px;
	font-size: 0.75rem;
}

#buddypress table#message-threads tr td.thread-options {
	text-align: left;
}

#buddypress table#message-threads tr td.thread-options a {
	font-size: 12px;
	font-size: 0.75rem;
	line-height: 2.2;
}

#buddypress table#message-threads tr span.from {
	display: none;
}

#buddypress table#message-threads tr span.activity {
	display: block;
	float: left;
	line-height: 2;
}

@media screen and (max-width: 320px) {
	#buddypress table#message-threads tr span.activity {
		clear: both;
		font-size: 11px;
		font-size: 0.6875rem;
		width: 100%;
	}
}

#buddypress table#message-threads tr.unread td {
	background: #f1f4ff;
	border-color: rgba(0, 0, 0, 0.2);
	border-top: 0;
	border-width: 1px;
}

#buddypress table#message-threads th {
	display: none;
}

#buddypress table#message-threads th.bulk-select-all {
	border-bottom: 0;
	display: inline-block;
	text-align: right;
}

#buddypress table#message-threads th.bulk-select-all,
#buddypress table#message-threads td.bulk-select-check,
#buddypress table#message-threads td.thread-star {
	border-left: 0;
	width: 30px;
}

#buddypress #message-thread #message-subject {
	background: #4d4d4d;
	color: #fff;
	padding: 0.5em;
}

#buddypress #message-thread .message-box .message-metadata {
	margin-bottom: 10px;
}

#buddypress #message-thread .message-box .message-content {
	clear: right;
	margin-right: 0;
}

#buddypress #message-threads.sitewide-notices td {
	width: 100%;
}

#buddypress #message-threads.sitewide-notices td strong {
	background: #4d4d4d;
	color: #fff;
	font-size: 16px;
	font-size: 1rem;
	display: block;
	margin-bottom: 0.4em;
	padding: 0.2em;
}

#buddypress #message-threads.sitewide-notices td a {
	display: inline-block;
	line-height: initial;
}

#buddypress #message-threads.sitewide-notices td:first-child {
	display: none;
}

#buddypress #message-threads.sitewide-notices td:first-child + td + td {
	border-bottom: 0;
}

#buddypress #message-threads.sitewide-notices td:first-child + td + td span {
	line-height: 1;
}

#buddypress #message-threads.sitewide-notices td:last-child {
	border-bottom-color: rgba(0, 0, 0, 0.2);
	line-height: 1;
	text-align: left;
}

#buddypress #message-threads.sitewide-notices td:last-child a:last-child {
	line-height: 0;
	margin-right: 0.7em;
	text-indent: -999em;
}

#buddypress #message-threads.sitewide-notices td:last-child a:last-child::after {
	content: attr(title);
	display: block;
	line-height: initial;
	text-indent: 0;
}

/**
	*------------------------------
	* @subsection 6.2.2.6 - Settings
	*------------------------------
	*/
#buddypress #settings-form > p {
	font-size: 20px;
	font-size: 1.25rem;
}

#buddypress table.notification-settings td.yes,
#buddypress table.notification-settings td.no {
	vertical-align: middle;
}

#buddypress table.profile-settings {
	width: 100%;
}

#buddypress table.profile-settings th.field-group-name,
#buddypress table.profile-settings td.field-name {
	width: 50%;
}

@media screen and (min-width: 401px) {
	#buddypress table.profile-settings th.field-group-name,
	#buddypress table.profile-settings td.field-name {
		width: 70%;
	}
}

#buddypress table.profile-settings td.field-visibility select {
	width: 100%;
}

/*------------------------------------------------------------------------------
* @section - 7.0 - Forms  - General
*-------------------------------------------------------------------------------
*/
#buddypress input[type="text"],
#buddypress input[type="email"],
#buddypress input[type="password"],
#buddypress input[type="submit"],
#buddypress select,
#buddypress textarea {
	border: 1px solid rgba(0, 0, 0, 0.2);
}

#buddypress .standard-form input[type="text"],
#buddypress .standard-form input[type="email"],
#buddypress .standard-form input[type="password"],
#buddypress .standard-form input[type="submit"],
#buddypress .standard-form textarea {
	width: 100%;
}

#buddypress #send-reply.standard-form textarea {
	width: 100%;
}

#buddypress div.activity-comments form .ac-textarea {
	background: #f7f7f7;
	border: 1px solid rgba(0, 0, 0, 0.2);
}

#buddypress div.activity-comments form .ac-textarea textarea {
	background: none;
	border: 0;
}

#buddypress div.dir-search,
#buddypress div.message-search,
#buddypress li.groups-members-search {
	clear: both;
	float: none;
	margin: 10px 0;
}

#buddypress div.dir-search form,
#buddypress div.message-search form,
#buddypress li.groups-members-search form {
	border: 1px solid #ccc;
	overflow: hidden;
}

#buddypress div.dir-search form label,
#buddypress div.message-search form label,
#buddypress li.groups-members-search form label {
	float: right;
	width: 80%;
}

#buddypress div.dir-search form input[type='text'],
#buddypress div.message-search form input[type='text'],
#buddypress li.groups-members-search form input[type='text'] {
	float: right;
	margin: 0;
	width: 80%;
}

#buddypress div.dir-search form input[type='text'],
#buddypress div.dir-search form input[type='submit'],
#buddypress div.message-search form input[type='text'],
#buddypress div.message-search form input[type='submit'],
#buddypress li.groups-members-search form input[type='text'],
#buddypress li.groups-members-search form input[type='submit'] {
	border: 0;
	font-size: 14px;
	font-size: 0.875rem;
	line-height: inherit;
}

#buddypress div.dir-search form input[type='text'],
#buddypress div.message-search form input[type='text'],
#buddypress li.groups-members-search form input[type='text'] {
	border-left: 1px solid #ccc;
	padding: 0.2em 0.2em 0.2em 0;
}

#buddypress div.dir-search form input[type='submit'],
#buddypress div.message-search form input[type='submit'],
#buddypress li.groups-members-search form input[type='submit'] {
	float: left;
	font-weight: normal;
	padding: 0.2em 1em;
	text-align: center;
	text-transform: none;
	width: 20%;
}

@media screen and (min-width: 401px) {
	#buddypress div.dir-search,
	#buddypress div.message-search {
		clear: none;
		float: left;
	}
	#buddypress div.dir-search form label,
	#buddypress div.dir-search form input[type='submit'],
	#buddypress div.dir-search form input[type='text'],
	#buddypress div.message-search form label,
	#buddypress div.message-search form input[type='submit'],
	#buddypress div.message-search form input[type='text'] {
		width: auto;
	}
	#buddypress div.message-search {
		margin: 3px 0 0;
	}
	#buddypress li.groups-members-search form label,
	#buddypress li.groups-members-search form input[type='submit'],
	#buddypress li.groups-members-search form input[type='text'] {
		width: auto;
	}
}

/**
*-------------------------------------------------------------------------------
* @section 8.0 - Tables General
*-------------------------------------------------------------------------------
*/
#buddypress table {
	border-color: rgba(0, 0, 0, 0.2);
}

/*__ User Account tables __*/
/**
*-------------------------------------------------------------------------------
* @section 9.0 - Error / Success messages
*-------------------------------------------------------------------------------
*/
#buddypress div#message p {
	font-size: 18px;
	font-size: 1.125rem;
	font-weight: bold;
}

#buddypress div#message.info p {
	background: #c6e4ee;
	border: 1px solid #78bed6;
	color: #1e5264;
}

#buddypress div#message.updated p {
	background: #dee6b2;
	border: 1px solid #becc66;
	color: #454d19;
}

.delete-group #buddypress div#message.info p {
	background: #db7e7e;
	border: 1px solid #be3535;
	color: #1f0808;
}

/**
*-------------------------------------------------------------------------------
* @section 10.0 - Ajax Loading, Widgets, General classes
*-------------------------------------------------------------------------------
*/
#buddypress {
	/* Auto Complete background */
}

#buddypress .acfb-holder li.friend-tab {
	background: #9fd1e2;
	border: inherit;
}
